<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addResume</title>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script> 
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">






<script th:inline="javascript">
   
$(document).ready(function(){
   
   
   

	//학력 사항  
    $(".academicListCheckBox").click(function(){
       console.log(this.checked);
       console.log(this.value);
       if(this.checked === true){
          $("#academic_" + this.value).css('display', '');   
       }else{
          $("#academic_" + this.value).css('display', 'none');
       }
    });
	
	
	
	
	// 자격증  
    $(".certificateListCheckBox").click(function(){
       console.log(this.checked);
       console.log(this.value);
       if(this.checked === true){
          $("#certificate_" + this.value).css('display', '');   
       }else{
          $("#certificate_" + this.value).css('display', 'none');
       }
    });
	
	
	
	
	
  //신입,경력 선택
 	$(".careerBodyClass").hide();
    $("#old").click(function(){
    	$(".careerBodyClass").show();
   	});
    
    $("#new").click(function(){
    	$(".careerBodyClass").hide();
    });
    
  
  //경력사항  
    $(".careerListCheckBox").click(function(){
       console.log(this.checked);
       if(this.checked === true){
          $("#career_" + this.value).css('display', '');   
       }else{
          $("#career_" + this.value).css('display', 'none');
       }
    });
  
	
  


   //자기소개서 
    $(".selfIntroListCheckBox").click(function(){
       console.log(this.checked);
       if(this.checked === true){
          $("#selfIntro_" + this.value).css('display', '');   
       }else{
          $("#selfIntro_" + this.value).css('display', 'none');
       }
    });
	
    
    
    
   
   //희망근무직업
   
   $('#hireAnnouncementMainJob').click(function(){
			$('#jobListSelect').css('display', '');
		});
		
		$('[name=job1Div]').click(function(){
			$('#job2DivId').children().attr('class', '');
			$('#job2DivId').children().css('display', 'none');
			//console.log(this.id);
			let job2Name = 'job2_' + this.id;
			$('[name='+job2Name+']').attr('class', 'dropdown-item d-flex align-items-center font-weight-bold text-truncate');
			$('[name='+job2Name+']').css('display','');
		});
		
		$('[class=job2Div]').click(function(){
			//console.log(this.id);
			
			$('.job3Li').css('display', 'none');			
			let job3Name = 'job3_' + this.id;
			$('[name=' + job3Name + ']').css('display', '');
			
		});
		
		
		$('[name=resumeWishJob3]').click(function(){
			//console.log(this);
			let str = "";
			$('[name=resumeWishJob3]').each(function(){
				if($(this).is(":checked")){
					str += $(this).val() + " ";
				}				
			});			
			$('#hireAnnouncementMainJob').val(str);
		})

		
		$('#jobClear').click(function(){
			$('#hireAnnouncementMainJob').val('');
			$('[name=resumeWishJob3]').each(function(){
				$(this).prop('checked', false);
			});
		});
   //희망근무지역 end
   
    
        
    //지역
      
     /*<![CDATA[*/
      $('#areaCode').change(function () {
            let areaSido=$(this).val();
            console.log("areaSido : "+areaSido);
            $('#area2Code').empty();
             $.ajax({
               url   :/*[[@{/getArea2AreaSido}]]*/, 
                 type: "POST",
                data:{'areaSido':areaSido},
                success: function (data) {
                   console.log(data);                   
               $.each(data, function (index,item) {
                  
                  console.log(item);
                  
                  var addContent = $("<option value='"+item.area2Gungu+"' th:text='"+item.area2Gungu+"'>"+item.area2Gungu+"</option>");
                    $("#area2Code").append(addContent);

                  
               });
            }
          });
     });   
      /*]]>*/
    

      
   $('#addResumeBtn').click(function(){
	   console.log($('#areaCode > option:selected').val());
	   console.log($('#area2Code > option:selected').val());
	   
	   $('#resumeWishArea').val($('#areaCode > option:selected').val() + ' ' + $('#area2Code > option:selected').val());
	  
	   
	   
	   
	   
	   $('#resumeForm').submit();     
   })
    
    
});
</script>
</head>
<body id="page-top">

   <!-- Page Wrapper -->
   <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

         <!-- Sidebar - Brand -->
         <li>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                 <span class="sidebar-brand-icon rotate-n-15">                   
                      <i class="fas fa-link"></i>
                 </span>              
                  
                 <span class="sidebar-brand-text mx-3">
                    <!-- <img th:src="@{/img/LinkJobsLogo.png}" style="height: 3.5rem;"/> -->
                    Link Jobs
                 </span>
               </a>
         </li>

         <li class="nav-item"><a class="nav-link collapsed" href="#"
            data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo"> <i
               class="fas fa-fw fa-tachometer-alt"></i> <span>채용공고</span>
         </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
               data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" th:href="@{/recordAnnouncement}">채용공고등록</a>
                  <a class="collapse-item" th:href="@{/}">등록한 채용공고 조회</a>
               </div>
            </div>
         </li>
         
         <li class="nav-item">
            <div class="text-center">
               <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
         </li>         
      </ul>
      <!-- End of Sidebar --> 

      
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
      <div th:include="/include/menuTop::navTop"></div>
      <!-- Main Content -->
      <div id="content">
            
    <!-- 페이지 내용 -->
	<div class="container-fluid">
	<div class="col-xl-8 col-lg-7">
	
	
	
	
	<form id="resumeForm" method="post" th:action="@{/addResumePost}">
	
	
	<input type="hidden" name="memberId" th:value="${memberInfo.memberId}">    
     	<div class="card shadow mb-4">
     		<div class="card-body">
				<input type="text" style="height: 100px;" class="form-control" id="resumeTitle" name="resumeTitle" placeholder="이력서 제목을 입력하세요(50자까지 입력가능)." maxlength=50>	
            </div>
    	</div>
     <br><br>
     
     
     
     <!-- 기본정보 -->
     <div class="card shadow mb-4"> 
  	 <!-- 기본정보  헤드-->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">기본정보</h2>
	</div>

   <!-- 기본정보  바디-->
   <div class="card-body">   	

		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">이름</h5>	
				<input type="hidden" name="memberId" th:value="${memberInfo.memberId}">                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" name="memberName" id="memberName" th:value="${memberInfo.memberName}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">생년월일</h5>	                  							
			</div>
			<div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberInfo.memberBirthdate}" readonly="readonly" style="display:inline-block; width: 80%">
			</div>
		</div>
		
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">성별</h5>	                  							
			</div>
			<div class="col-xl-10" th:if="${memberInfo.memberGender}==남">			                  				
				<input type="radio" readonly="readonly" id="man" checked="checked"> 남
			</div>
			<div class="col-xl-10" th:if="${memberInfo.memberGender}==여">			                  				
				<input type="radio" readonly="readonly" id="man" checked="checked"> 여
			</div>
		</div>
	   
	   <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">이메일</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberInfo.memberEmail}" readonly="readonly">
			</div>
		</div>
		
	  
	    <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">휴대폰</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberInfo.memberPhone}" readonly="readonly">
			</div>
		</div>
	   
	   <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">주소</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberInfo.areaSido}" readonly="readonly">
				<input type="text" class="form-control" th:value="${memberInfo.area2Gungu}" readonly="readonly">
				<input type="text" class="form-control" th:value="${memberInfo.memberDetailedAddress}" readonly="readonly">
			</div>
		</div>
  	 </div>
   </div>
     
      
      
      
  <!--학력사항-->
   <div class="card shadow mb-4"> 
  <!-- 학력사항  헤드 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">학력사항</h2>
	</div>
  <!-- 학력사항  바디 -->
   <div th:each="memberAcademic : ${memberAcademic}" class="card-body">
  
    <input type="checkbox" class="academicListCheckBox" name="academicNo" th:value="${memberAcademic.academicNo}" th:text="${memberAcademic.academicGrade}">
         
     <div th:id="|academic_${memberAcademic.academicNo}|" style="display: none;">
      <div class="form-group row">
         <div class="col-xl-2">   
            <h5 class="m-0 font-weight-bold">학교명</h5>                                       
           </div>
          <div class="col-xl-10">                                       
            <input type="text" class="form-control" th:value="${memberAcademic.academicName}" readonly="readonly">
         </div>
      </div>
       
       <div class="form-group row">
         <div class="col-xl-2">   
            <h5 class="m-0 font-weight-bold">전공계열</h5>                                       
           </div>
          <div class="col-xl-10">                                       
            <input type="text" class="form-control" th:value="${memberAcademic.academicMajor}" readonly="readonly">
         </div>
      </div>
     
       <div class="form-group row">
         <div class="col-xl-2">   
            <h5 class="m-0 font-weight-bold">전공</h5>                                          
           </div>
          <div class="col-xl-10">                                       
            <input type="text" class="form-control" th:value="${memberAcademic.academicMajorDetail}" readonly="readonly">
         </div>
      </div>
      
      <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">재학기간</h5>	                  							
		  	</div>
		    <div class="col-xl-10">
				<div class="row">
					<div class="col-xl-6">
						<input type="date" class="form-control" th:value="${memberAcademic.academicFromDate}"  readonly="readonly">
					</div>
					<div class="col-xl-6">
						<input type="date" class="form-control" th:value="${memberAcademic.academicToDate}" readonly="readonly">
					</div>                                             
				</div>
			</div>
		</div>
    	<div class="form-group row">
	         <div class="col-xl-2">   
	            <h5 class="m-0 font-weight-bold">학점</h5>                                          
	         </div>
	         <div class="col-xl-10">                                       
	            <input type="text" class="form-control" th:value="${memberAcademic.academicScore}" readonly="readonly">
	         </div>
      	</div>
    </div>
  </div>
  </div> <!-- 학력사항 end-->
     
     
     
    <!-- 자격증정보 -->
   <div class="card shadow mb-4"> 
   <!-- 자격증정보  헤드-->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">자격증정보</h2>
	</div>

  <!-- 자격증정보  바디-->
   <div th:each="certificateList : ${certificateList}" class="card-body">
  
   <input type="checkbox" name="certificateNo" class="certificateListCheckBox" th:value="${certificateList.certificateNo}" th:text="${certificateList.certificateName}">
         
   
   <div th:id="|certificate_${certificateList.certificateNo}|" style="display: none;">
      <div class="form-group row">
         <div class="col-xl-2">   
            <h5 class="m-0 font-weight-bold">자격증 이름</h5>                                       
           </div>
          <div class="col-xl-10">                                       
            <input type="text" class="form-control" th:value="${certificateList.certificateName}" readonly="readonly">
         </div>
      </div>
     
       <div class="form-group row">
         <div class="col-xl-2">   
            <h5 class="m-0 font-weight-bold">취득일</h5>                                          
           </div>
          <div class="col-xl-10">                                       
            <input type="text" class="form-control" th:value="${certificateList.certificateDate}" readonly="readonly">
         </div>
      </div>
   </div>
  </div>
  </div>   <!-- 자격증정보  end-->
     
     
     
	<!-- 경력사항 -->
   <div class="card shadow mb-4"> 
   <!-- 경력사항  헤드-->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">경력사항</h2>
		<div>			                  				
			<input type="radio" id="new" name="resumeCareer" th:value="신입"> 신입
		</div>
		<div>			                  				
			<input type="radio" id="old" name="resumeCareer" th:value="경력"> 경력 		  
		</div>
	</div>

   <!-- 경력사항  바디-->
   <div th:id="|careerBody_${memberCareer.careerNo}|" th:each="memberCareer : ${memberCareer}" class="card-body careerBodyClass">   	
   
   <input type="checkbox" name="careerNo" class="careerListCheckBox"  th:value="${memberCareer.careerNo}" th:text="${memberCareer.careerCompanyName}">
      <div th:id="|career_${memberCareer.careerNo}|" style="display: none;">
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">회사명</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerCompanyName}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">재직기간</h5>	                  							
		  	</div>
		    <div class="col-xl-10">
				<div class="row">
					<div class="col-xl-6">
						<input type="date" class="form-control" th:value="${memberCareer.careerStartDate}"  readonly="readonly">
					</div>
					<div class="col-xl-6">
						<input type="date" class="form-control" th:value="${memberCareer.careerEndDate}" readonly="readonly">
					</div>                                             
				</div>
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">년차</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerJobgradeJobpositionYear}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">퇴사사유</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerReasonForLeaving}" readonly="readonly">
			</div>
		</div>	
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">직급/직책</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerJobgradeJobposition}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">직종</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.jobCategory}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">근무지역</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.areaSido}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">근무부서</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerDepartment}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">		
				<h5 class="m-0 font-weight-bold">연봉</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerSalary}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">담당업무</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerResponsibilities}" readonly="readonly">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">퇴사/재직중</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" th:value="${memberCareer.careerLeaving}" readonly="readonly">
			</div>
		</div>
	 
	 </div>		
   	</div>
   </div><!-- 경력사항  end-->
     
 
     
     
     
   <!-- 희망근무조건 -->
     <div class="card shadow mb-4"> 
  	 <!-- 희망근무조건  헤드-->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">희망근무조건</h2>
	</div>

   <!-- 희망근무조건  바디-->
   <div class="card-body">   	

		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">희망근무조건</h5>	                							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">근무 형태</h5>	                  							
			</div>
			<div class="col-xl-10">			                  				
				<select name="resumeWorkingForm" id="resumeWorkingForm">
					<option>선택</option>
		            <option>계약직</option>
		            <option>교육생</option>
		            <option>별정직</option>
		            <option>병역특례</option>
		            <option>아르바이트</option>
		            <option>위촉직</option>
		            <option>인턴직</option>
		            <option>전임</option>
		            <option>정규직</option>
		            <option>파견직</option>
		            <option>파트</option>
		            <option>프리랜서</option>
				</select>
			</div>
		</div>
	   
	   <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">희망 연봉</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<select name="resumeSalary" id="resumeSalary">
					<option>선택</option>
		            <option>회사내규에 따름</option>
		            <option>1400 만원 이하</option>
		            <option>1400~1600만원</option>
		            <option>1600~1800만원</option>
		            <option>1800~2000만원</option>
		            <option>2000~2200만원</option>
		            <option>2200~2400만원</option>
		            <option>2400~2600만원</option>
		            <option>2600~2800만원</option>
		            <option>2800~3000만원</option>
		            <option>3000~3200만원</option>
		            <option>3200~3400만원</option>
		            <option>3400~3600만원</option>
		            <option>3600~3800만원</option>
		            <option>3800~4000만원</option>
		            <option>4000~5000만원</option>
		            <option>5000~6000만원</option>
		            <option>6000~7000만원</option>
		            <option>7000~8000만원</option>
		            <option>8000~9000만원</option>
		            <option>9000~1억원</option>
		            <option>1억원 이상</option>
		            <option>면접 후 결정</option>
				</select>
			</div>
		</div>

 
	    <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">희망근무지역 : </h5>	                  							
		  	</div>
		    <div class="col-xl-10">	
		    	 <input type="hidden" name="resumeWishArea" id="resumeWishArea">
		    		                  				
				<select name="areaSido" id="areaCode" class="form-control">
					<option value="">시 / 도</option>
					<option th:each="areaList : ${areaList}" th:value="${areaList.areaSido}" th:text="${areaList.areaSido}"></option>
				</select>
				<span id="areaCodeHelper"></span>
			</div>
			<div class="col-xl-10">			                  				
				<select id="area2Code" class="form-control" name="area2Gungu" >
					<option value="">군 / 구</option>
		                                      
				</select>
				<span id="area2CodeHelper"></span>
			</div>
		</div> 
	  
	  
	  
	  
	  
	  <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">희망근무업종</h5>	                  							
		  	</div>
		    <div class="col-xl-10">		
		    	<select name="resumeWishIndustry" id="resumeWishIndustry" class="form-control">
					<option value="">업종</option>
					<option th:each="industryList : ${industryList}" th:value="${industryList.industryCategory}" th:text="${industryList.industryCategory}"></option>
				</select>	                  				
			</div>
		</div>

	    <div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">희망근무직종</h5>	   
				<span id="jobClear" style="cursor: pointer;">직무 초기화</span>               							
		  	</div>
		  	
		  	<div class="col-xl-10">   
				<input type="text" class="form-control" name="resumeWishJob" id="hireAnnouncementMainJob" readonly="readonly">
				<span id="hireAnnouncementMainJobSpan" style="color: red; margin: auto;"></span>
	      
				<div id="job1DivId" class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: auto;">
					<th:block th:each="job : ${job}" >
						<div th:id="|job1Id_${job.jobNo}|" th:text="${job.jobCategory}" th:name="job1Div" class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
						
						</div>
		            </th:block>
				
					<!-- <div class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
		             		ASDF                                     		
	               	 </div> -->
	                                      		
		 		</div>
		                                      
		        <div id="job2DivId" class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: auto;" >
		        	<th:block th:each="job2 : ${job2}">
						<div th:name="|job2_job1Id_${job2.jobNo}|" th:id="|job2Id_${job2.job2No}|" th:text="${job2.job2Category}" class="job2Div" style="cursor: pointer; display: none;">
						
						</div>
					</th:block>
				</div>
		                                   
		        <div class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: 55%;">
		        	<ul class="nav job3Ul">
		            	<th:block th:each="job3 : ${job3}">
			                <li th:name="|job3_job2Id_${job3.job2No}|" class="nav-item job3Li" style="display: none;">
					            <div class="form-check-inline">		
						            <label class="form-check-label">
						            	<input type="checkbox" class="form-check-input" name="resumeWishJob3" th:id="|job3Id_${job3.job3No}|" th:value="${job3.job3Category}" th:text="${job3.job3Category}">
						            </label>															
					            </div>
			                </li>		                                      	
		                </th:block>
		        	</ul>
				</div>  
				
				<span id="hireAnnouncementMainJobSpan" style="color: red; margin: auto;"></span>
		        </div>
		
		</div><!-- ㅇㅁㄴ -->
  	 </div>
   </div><!-- 희망근무조건 end -->
     
     

     
     
     
     <!-- 자기소개서 -->
     <div class="card shadow mb-4"> 
  	 <!-- 자소서 헤드-->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h2 class="m-0 font-weight-bold text-info">자기소개서</h2>
	</div>

   <!-- 자기소개서 바디-->
   <div th:each="selfIntroList : ${selfIntroList}" class="card-body">
   	
  <input type="checkbox" name="selfIntroNo" class="selfIntroListCheckBox" th:value="${selfIntroList.selfIntroductionNo}" th:text="${selfIntroList.selfIntroductionTitle}">
	<div th:id="|selfIntro_${selfIntroList.selfIntroductionNo}|" style="display: none;">
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">제목</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" class="form-control" name="resumeSelfIntroductionTitle" id="selfIntroductionTitle" th:value="${selfIntroList.selfIntroductionTitle}">
			</div>
		</div>
		
		<div class="form-group row">
			<div class="col-xl-2">	
				<h5 class="m-0 font-weight-bold">내용</h5>	                  							
		  	</div>
		    <div class="col-xl-10">			                  				
				<input type="text" id="selfIntroductionContents" style="height: 700px" name="resumeSelfIntroductionContents" class="form-control" th:value="${selfIntroList.selfIntroductionContents}"></textarea>
			</div>
		</div>
	  </div>
	</div>
		
  	 </div><!-- 자기소개서 end -->
  	 
  	<div>
		<input type="radio" name="resumeAvaliability" value="공개">공개
	  	<input type="radio" name="resumeAvaliability" value="비공개">비공개
	</div>
  
    <button id="addResumeBtn" type="button">이력서 등록</button>

   </form>
   
   
   
		</div><!-- 페이지내용 -->
 		</div><!-- 페이지내용 -->
   	</div> <!-- Main Content -->
   
  	</div>    <!-- Content Wrapper -->
		
  	</div>	<!-- End of Page Wrapper -->
   
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>


</body>
</html>