<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getAnnouncementOne</title>
<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

<script th:src="@{/js/html2canvas.js}"></script>
<script th:src="@{/js/jspdf.min.js}"></script>

</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

	<!-- SideBar -->
	<ul th:include="/include/menuSide::navSide" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
	</ul>
	

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
		<div th:include="/include/menuTop::navTop"></div>
		<!-- Main Content -->
		<div id="content">		
			<div class="container-fluid">				
				<button type="button" class="btn btn-primary" id="savePdf" style="margin-bottom: 2em;">PDF 저장</button>
				<div class="row" id="pdfDiv">
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="card border-left-info h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									
								
									<div th:each="resumelist : ${resumelist}" class="col mr-2">
									<div class="col-xl-6 col-md-6 mb-4" th:each="memberInfo : ${memberInfo}">
										<h2 th:text="${memberInfo.memberName}"></h2>
										<div>
											<span th:text="${memberInfo.memberBirthdate}"></span>
										</div>
										<div>
											<span th:text="${memberInfo.memberGender}"></span>
										</div>
										<div>
											<span th:text="${memberInfo.memberEmail}"></span>
										</div>
										<div>
											<span th:text="${memberInfo.memberPhone}"></span>
										</div>
										<div>
											<span th:text="${memberInfo.areaSido}"></span>
										</div>
										<div>
											<span th:text="${memberInfo.area2Gungu}"></span>
										</div>
										
										
										
										
										
										<span th:text="${memberInfo.memberGender}"></span>
										<span th:text="${memberInfo.memberEmail}"></span>
										<span th:text="${memberInfo.memberPhone}"></span>
										<span th:text="${memberInfo.areaSido}"></span>
										<span th:text="${memberInfo.area2Gungu}"></span>
									</div>	
										<hr>
										<div class="row">
											<div>
												<h2>학력사항</h2>
											</div>
											
											<div>
											<table border="1">
												<thead>
													<tr>
														<th>학력사항</th>
														<th>구분</th>
														<th>학교명</th>
														<th>전공</th>
														<th>학점</th>
													</tr>
													<tr>
														<td>dasf</td>
														<td>adsfads</td>
														<td>aaa</td>
														<td>aa</td>
														<td>aa</atd>
													</tr>
												</thead>
											
											</table>
											
											</div>
											
																
										</div>
										<hr>
										<div style="display: flex;">
											<h3>경력</h3>&nbsp;&nbsp;&nbsp;
											<span th:text="${resumelist.resumeCareer}"></span>		<!-- 이력서 상세보기 리스트  resumeCareer-->							
										</div>
									<div><!-- 경력--- >>> 경력일때만 보이게 조건 -->
										<div>
											회사명 :
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											재직기간 :
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											년차 :
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											퇴사사유 :
											<span th:text="${memberInfo.memberName}"></span>											
										</div>			
										<div>
											직급/직책 :
											<span th:text="${memberInfo.memberName}"></span>										
										</div>
										<div>
											직종 :
											<span th:text="${memberInfo.memberName}"></span>										
										</div>
										<div>
											근무지역 :
											<span th:text="${memberInfo.memberName} "></span>											
										</div>													
										<div>
											근무부서 :											
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											연봉 :											
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											담당업무 :											
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>
											퇴사/재직중 :											
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
									</div>
										<hr>
										<div><!-- 자격증 -->
										<h3>자격증</h3>
										<div>				
											자격증 이름 : 							
											<span th:text="${memberInfo.memberName}"></span>											
										</div>
										<div>				
											취득일 : 							
											<span th:text="${memberInfo.memberName}"></span>										
										</div>
										</div>
										
										<hr>
										
										<!-- 희망근무조건 -->
										<div>
											<h3>희망근무조건</h3>
											<div>				
												근무 형태 : 							
												<span th:text="${resumelist.resumeWorkingForm}"></span>											
											</div>										
											<div>				
												희망 연봉 : 							
												<span th:text="${resumelist.resumeSalary}"></span>											
											</div>
											<div>				
												희망 근무지역 : 							
												<span th:text="${resumelist.resumeWishArea}"></span>											
											</div>
											<div>				
												희망 근무업종 : 							
												<span th:text="${resumelist.resumeWishIndustry}"></span>											
											</div>
											<div>				
												희망 근무직종 : 							
												<span th:text="${resumelist.resumeWishJob}"></span>											
											</div>
										</div>
										
										
										
										<hr>
										
										<!--  -->
										
										 <!--자기소개서  -->
								         <div class="card shadow mb-4">
								              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								                <h2 class="m-0 font-weight-bold text-info">자기소개서</h2>
								              </div>
								              <div class="card-body">
								              <h2 th:text="${resumelist.resumeSelfIntroductionTitle}"></h2>
								                  <textarea id="selfIntroductionContents" th:text="${resumelist.resumeSelfIntroductionContents}" class="form-control" rows="10"> </textarea> 
								                  
								                  <br>
								               </div>
								        </div>					
										
									</div>
									
								</div>
							
							
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=33cadc92575b7002fea76508c67dbad0&libraries=services,clusterer,drawing"></script>


</body>

</html>
