<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>menuTop</title>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-info">


	<div th:fragment="navTop">
		<!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">
			<!-- Topbar Search -->
	        <form class="navbar-search">
	        	<!-- <img th:src="@{/img/LinkJobsLogo.png}" style="height: 4rem;"/> -->
	        	
	        	<a class="m-0 font-weight-bold text-info" style="padding-left: 5%">지역별</a>
	        	
	        	<a class="m-0 font-weight-bold text-info" style="padding-left: 5%">직업별</a>
	        	
	        	<a class="m-0 font-weight-bold text-info" style="padding-left: 5%">산업별</a>        	      	
	        </form>
		
			
			<!-- Topbar Navbar -->
         	<ul class="navbar-nav ml-auto">
    
	           	<!-- Nav Item - User Information -->
	           	<li class="nav-item dropdown no-arrow">
	              
	              	<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                    
	                  	<th:block th:if="${session['loginCpMember'] != null}">
	                     	<span class="mr-3 d-lg-inline text-gray-600" th:text="${session['loginCpMember']}"></span>
	                  	</th:block>
	                  	<th:block th:if="${session['loginCpMember'] == null}">
	                     	<span class="mr-3 d-lg-inline text-gray-600">로그인하세요</span>
	                  	</th:block>
	                	</a>
	                
			           	<th:block th:if="${session['loginCpMember'] != null}">
			              <!-- Dropdown - User Information -->
			              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			                 <a class="dropdown-item" th:href="@{/alterCpMemberDetail}">
			                     <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								기업회원 정보 수정
			                 </a>
			                 <a class="dropdown-item" th:href="@{/alterCpMemberPw}">
			                     <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								기업회원 비밀번호 수정
			                 </a>
			                 <a class="dropdown-item" th:href="@{/logoutCpMember}">
			                     <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								로그아웃
			                 </a>
			               </div>             
			            </th:block>     
			                 
			            <th:block th:if="${session['loginCpMember'] == null}">
						<!-- Dropdown - User Information -->
			               <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
			                  <a class="dropdown-item" th:href="@{/loginCpMember}">
			                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								일반회원 로그인
			                  </a>
			                  <a class="dropdown-item" th:href="@{/loginCpMember}">
			                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								기업회원 로그인
			                  </a>
			                </div>
			            </th:block>
				</li>
			</ul>
			
			
			
		
		</nav>
		<!-- End of Topbar -->
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
</body>
</html>
	