<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>alterCpMemberPw</title>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
	<div th:include ="/include/menuTop::navTop">
	
	</div>
	
	<div class="container">
    	<!-- Outer Row -->
    	<div class="row justify-content-center">

	    	<div class="col-md-9">
        		<div class="card o-hidden border-0 shadow-lg my-5">
          			<div class="card-body p-0">
            			<!-- Nested Row within Card Body -->
            			<div class="row">             				
              				<div class="col-lg-12">
	               				<div class="p-5">	               					
	               					
	               					<!-- 기존 비밀번호 확인 -->
	               					<div id="cpMemberDeatailDiv">
	                					<form class="user" id="alterCpMemberDetailForm" method="post" th:action="@{/alterCpMemberDetail}">	                					
	                					
		                  					<div class="form-group">	
		                  						<span>ID : </span>			                  				
												<input type="text" class="form-control form-control-user" name="cpMemberId" id="cpMemberId" readonly="readonly" th:value="${session['loginCpMember']}">
		                  					</div>
		                  					<div class="form-group">
		                  						<span>사업자 등록번호 : </span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberLicenseNo" id="cpMemberLicenseNo" placeholder="사업자 등록번호를 입력하세요." th:value="${cpMember.cpMemberLicenseNo}">
		                    					<span id="cpMemberLicenseNoSpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
		                  						<span>회사명 :</span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberCompany" id="cpMemberCompany" placeholder="회사명을 입력하세요." th:value="${cpMember.cpMemberCompany}">
		                    					<span id="cpMemberCompanySpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
		                  						<span>대표자 이름 : </span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberCeo" id="cpMemberCeo" placeholder="회사대표 이름을 입력하세요." th:value="${cpMember.cpMemberCeo}">
		                    					<span id="cpMemberCeoSpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
		                  						<span>담당자 이름 : </span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberManager" id="cpMemberManager" placeholder="담당자 이름을 입력하세요." th:value="${cpMember.cpMemberManager}">
		                    					<span id="cpMemberManagerSpan" style="color: red; margin: auto;"></span>
		                  					</div> 
		                  					<div class="form-group">
		                  						<span>담당자 전화번호 :</span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberPhonenum" id="cpMemberPhonenum" placeholder="담당자 전화번호를 입력하세요." th:value="${cpMember.cpMemberPhonenum}">
		                    					<span id="cpMemberPhonenumSpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
		                  						<span>E-mail : </span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberEmail" id="cpMemberEmail" placeholder="이메일을 입력하세요." th:value="${cpMember.cpMemberEmail}">
		                    					<span id="cpMemberEmailSpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
		                  						<span>산업 선택 : </span>
		                    					<select name="cpMemberIndustryNo" class="custom-select">
		                    						<option value="0">- 산업이름 -</option>
		                    						<th:block th:each="industry : ${industryList}">
		                    							<option th:value="${industry.industryNo}" th:text="${industry.industryCategory}"></option>
		                    						</th:block>
		                    					</select>
		                    					<!-- <span id="cpMemberIndustryNoSpan" style="color: red; margin: auto;"></span> -->
		                  					</div>
		                  					<div class="form-group">
		                  						<span>지역 선택 : </span>
		                  						<input name="address" id="address" type="text" class="form-control form-control-user" onclick="getAddress();" value="주소 검색" readonly="readonly">		                    					
		                    					<!-- <span id="cpMemberArea2NoSpan" style="color: red; margin: auto;"></span> -->
		                  					</div>
		                  					<div class="form-group">
		                  						<span>상세주소 : </span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberDetailedAddress" id="cpMemberDetatiledAddress" placeholder="상세주소를 입력하세요." th:value="${cpMember.cpMemberDetailedAddress}">
		                    					<!-- <span id="cpMemberDetatiledAddressSpan" style="color: red; margin: auto;"></span> -->
		                  					</div>
		                  					
		                  					<div class="form-group">
		                  						<span>사원 수 :</span>
		                    					<input type="text" class="form-control form-control-user" name="cpMemberNumberOfEmployees" id="cpMemberNumberOfEmployees" placeholder="사원수를 입력하세요." th:value="${cpMember.cpMemberNumberOfEmployees}">
		                    					<!-- <span id="cpMemberNumberOfEmployeesSpan" style="color: red; margin: auto;"></span> -->
		                  					</div>
		                  					<div class="form-group">
		                  						<span>설립일 : </span>
		                    					<input type="date" class="form-control form-control-user" name="cpMemberEstablishDate" id="cpMemberEstablishDate" placeholder="설립일을 선택하세요." th:value="${cpMember.cpMemberEstablishDate}">
		                    					<!-- <span id="cpMemberEstablishDateSpan" style="color: red; margin: auto;"></span> -->
		                  					</div>
		                  				 	<a id="updateCpMemberBtn" class="btn btn-primary btn-user btn-block" style="color: white;">회원정보 수정</a>		
		                  					   					
	                					</form>
	                					<hr>	                					
	               					</div>
	               						               					
	               				</div>  
               				</div>            				
            			</div>
          			</div>
        		</div>	
    		</div>
    	</div>
  	</div>
	

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	$('#updateCpMemberBtn').click(function(){
		$('#cpMemberLicenseNoSpan').text("");
	   	$('#cpMemberCompanySpan').text("");	   	
	   	$('#cpMemberCeoSpan').text("");	   	
	   	$('#cpMemberPhonenumSpan').text("");	   	
   		$('#cpMemberEmailSpan').text("");
   		
   		if($('#cpMemberLicenseNo').val().length === 0){
   	      $('#cpMemberLicenseNoSpan').text("사업자 등록번호를 입력하세요.");
   	      return;
   	   	}
   		if($('#cpMemberCompany').val().length === 0){
   	      $('#cpMemberCompanySpan').text("회사명을 입력하세요.");
   	      return;
   	   	}
   		if($('#cpMemberCeo').val().length === 0){
   	      $('#cpMemberCeoSpan').text("대표 이름을 입력하세요.");
   	      return;
   	   	}
   		if($('#cpMemberPhonenum').val().length === 0){
   	      $('#cpMemberPhonenumSpan').text("담당자 전화번호를 입력하세요.");
   	      return;
   	   	}
   		if($('#cpMemberEmail').val().length === 0){
   	      $('#cpMemberEmailSpan').text("담당자 이메일을 입력하세요.");
   	      return;
   	   	}
   		
   		$('#alterCpMemberDetailForm').submit();
	});
	
	
	
    //카카오 주소 검색 
    function getAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                
                document.getElementById('address').value = data.sido + " " + data.sigungu;
                document.getElementById('cpMemberDetatiledAddress').value = data.bname + " ";
                
                
                console.log(data);
            }
        }).open();
    }
	
</script>

</body>

</html>