<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>signUpCpMember</title>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-info">
	<div th:include ="/include/menuTop::navTop">
	
	</div>

	<div class="container">
				
		<!-- Outer Row -->
		<div class="row justify-content-center">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">기업회원 회원가입</h1>

									<form class="user" id="signUpForm"
										th:action="@{/signUpCpMember}" method="post">
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberId"
												id="cpMemberId" placeholder="아이디를 입력하세요."> <span
												id="cpMemberIdSpan" style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group row">
											<div class="col-sm-6 mb-3 mb-sm-0">
												<input type="password"
													class="form-control form-control-user" id="cpMemberPw"
													name="cpMemberPw"
													placeholder="비밀번호를 입력하세요.">
											</div>
											<div class="col-sm-6">
												<input type="password"
													class="form-control form-control-user" id="cpMemberPw2"
													placeholder="비밀번호를 확인하세요.">
											</div>
											<span id="cpMemberPwSpan" style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberCompany"
												id="cpMemberCompany" placeholder="회사명을 입력하세요."> <span
												id="cpMemberCompanySpan" style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberCeo"
												id="cpMemberCeo" placeholder="대표자 성함을 입력하세요."> <span
												id="cpMemberCeoSpan" style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberLicenseNo"
												id="cpMemberLicenseNo" placeholder="사업자 등록번호를 입력하세요.">
											<span id="cpMemberLicenseNoSpan"
												style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberManager"
												id="cpMemberManager" placeholder="담당자 성함을 입력하세요."> <span
												id="cpMemberManagerSpan" style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberPhonenum"
												id="cpMemberPhoneNum" placeholder="담당자 전화번호를 입력하세요.">
											<span id="cpMemberPhoneNumSpan"
												style="color: red; margin: auto;"></span>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="cpMemberEmail"
												id="cpMemberEmail" placeholder="이메일을 입력하세요."> <span
												id="cpMemberEmailSpan" style="color: red; margin: auto;"></span>
										</div>
										<hr>
										<a id="signUpBtn" class="btn btn-primary btn-user btn-block"
											style="color: white;"> 회원가입 </a> <a
											th:href="@{/loginCpMember}"
											class="btn btn-success btn-user btn-block"> 로그인 창으로 이동 </a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<script th:inline="javascript">
$('#signUpBtn').click(function(){
   $('#cpMemberIdSpan').text("");
   $('#cpMemberPwSpan').text("");
   $('#cpMemberCompanySpan').text("");
   $('#cpMemberCeoSpan').text("");
   $('#cpMemberLicenseNoSpan').text("");
   $('#cpMemberManagerSpan').text("");
   $('#cpMemberPhoneNumSpan').text("");
   $('#cpMemberEmailSpan').text("");
   
   
   let cpMemberId = $('#cpMemberId').val();   
   
   if($('#cpMemberId').val().length < 6){
      $('#cpMemberIdSpan').text("ID는 최소 6자리 이상으로 입력하세요.");
      return;
   }
   if($('#cpMemberPw').val().length < 6){
      $('#cpMemberPwSpan').text("PW는 최소 6자리 이상으로 입력하세요.");
      return;
   }
   if($('#cpMemberPw').val() !== $('#cpMemberPw2').val()){
      $('#cpMemberPwSpan').text("PW가 일치하지 않습니다.");
      return;
   }
   if($('#cpMemberCompany').val().length === 0){
      $('#cpMemberCompanySpan').text("회사명을 입력하세요.");
      return;
   }
   if($('#cpMemberCeo').val().length === 0){
      $('#cpMemberCeoSpan').text("대표자 성함을 입력하세요.");
      return;
   }
   if($('#cpMemberLicenseNo').val().length === 0){
      $('#cpMemberLicenseNoSpan').text("사업자 등록번호를 입력하세요.");
      return;
   }
   if($('#cpMemberManager').val().length === 0){
      $('#cpMemberManagerSpan').text("담당자 성함을 입력하세요.");
      return;
   }
   if($('#cpMemberPhoneNum').val().length === 0){
      $('#cpMemberPhoneNumSpan').text("담당자 전화번호를 입력하세요.");
      return;
   }
   if($('#cpMemberEmail').val().length === 0){
      $('#cpMemberEmailSpan').text("이메일을 입력하세요.");
      return;
   }
   
   /*<![CDATA[*/	      
    $.ajax({    	
    	url: /*[[@{/checkCpMemberId}]]*/
        ,type:'POST'
        ,data:{'checkCpMemberId':cpMemberId}
        ,success : function(data) {
           if(data === 0){
        	   //기존 회원 없음(회원가입 가능)
        	   $('#signUpForm').submit();
           }else{
        	   $('#cpMemberIdSpan').text("중복된 ID가 존재합니다.");
           }
        }
    });
   
    /*]]>*/
   
});
</script>
<script th:inline="javascript">
/*<![CDATA[*/
	if([[${cp}]] == true){
		$('#loginCpMemberBtn').attr('class', 'btn btn-secondary btn-icon-split');
		$('#loginMemberBtn').attr('class', 'btn btn-light btn-icon-split');
		$('#cpMemberDiv').css('display', '');	
	}
/*]]>*/
</script>

</body>
</html>