<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>alterAnnouncement</title>
<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<style type="text/css">
.job3Ul{
	margin-left: 2.5em; margin-top: 1em;
}

.job3Ul .job3Li{
	width: 50%;
}

</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- SideBar -->
		<ul th:include="/include/menuSide::navSide" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
		</ul>
		

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div th:include="/include/menuTop::navTop"></div>
			<!-- Main Content -->
			<div id="content">
				
				<!-- 페이지 내용 -->
				<div class="container-fluid">
		
					<!-- Page 헤드 -->
					<div>
						<h1 class="h3 mb-2 text-gray-800">채용공고 수정</h1>
					</div>
					<br><br>
					
					
					
					<!-- 담당자 정보 -->
					<div class="row">
						<div class="col-xl-8 col-lg-7">
						
						<form class="user" id="cpMemberAnnouncementForm" method="post" th:action="@{/modifyAnnouncementOne}">
							<input name="hireAnnouncementNo" type="hidden" th:value="${hireAnnouncement.hireAnnouncementNo}">
			             	<div class="card shadow mb-4">
				               
				                <!-- 공고 제목 -->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                	<h2 class="m-0 font-weight-bold text-info">공고 제목</h2>				                 		
				                </div>
				                <div class="card-body">
				                	<input type="text" class="form-control form-control-user" id="hireAnnouncementTitle" name="hireAnnouncementTitle" placeholder="공고 제목을 입력하세요." th:value="${hireAnnouncement.hireAnnouncementTitle}">
                               		<span id="hireAnnouncementTitleSpan" style="color: red; margin: auto;"></span>
				                </div>
				                
				          	</div>  
				               <br>
				              
				            <div class="card shadow mb-4">    
				                <!-- 담당자 정보 헤드-->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                 	<h2 class="m-0 font-weight-bold text-info">담당자 정보</h2>
				                </div>
			               	
			                	<!-- 담당자 정보 바디 -->
			                	<div class="card-body">
										                					
										<div class="form-group row">
											<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">담당자 성함</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberManager" id="cpMemberManager" placeholder="담당자 이름을 입력하세요." th:value="${cpMember.cpMemberManager}" readonly="readonly">
												<span id="cpMemberManagerSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">휴대폰</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberPhonenum" id="cpMemberPhonenum" placeholder="담당자 전화번호를 입력하세요." th:value="${cpMember.cpMemberPhonenum}" readonly="readonly">
	                    						<span id="cpMemberPhonenumSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">이메일</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberEmail" id="cpMemberEmail" placeholder="이메일을 입력하세요." th:value="${cpMember.cpMemberEmail}" readonly="readonly">
	                    						<span id="cpMemberEmailSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">업종</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
														                    								                    							                    								                    						
	                    						<th:block th:each="industry : ${industryList}">
	                    							<th:block th:if="${industry.industryNo == cpMember.cpMemberIndustryNo}">
	                    								<input type="hidden" class="form-control" name="cpMemberIndustryNo" th:value="${industry.industryNo}" readonly="readonly">
	                    								<input type="text" class="form-control" name="cpMemberIndustryCategory" th:value="${industry.industryCategory}" readonly="readonly">		                    					
	                    							</th:block>		                    							
	                    						</th:block>
		                    					
											</div>
		                  				</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">근무 지역</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<th:block th:if="${areaAndArea2 != null}">
		                  							<input name="address" id="address" type="text" class="form-control" th:value="|${areaAndArea2.areaSido} ${areaAndArea2.area2Gungu}|" readonly="readonly">
			                  						<input type="hidden" id="areaSido" name="areaSido" th:value="${areaAndArea2.areaSido}">
			                  						<input type="hidden" id="areaGungu" name="areaGungu" th:value="${areaAndArea2.area2Gungu}">
		                  						</th:block>
		                  						<th:block th:if="${areaAndArea2 == null}">
		                  							<input name="address" id="address" type="text" class="form-control" readonly="readonly">
			                  						<input type="hidden" id="areaSido" name="areaSido">
			                  						<input type="hidden" id="areaGungu" name="areaGungu">
		                  						</th:block>    
											</div>
		                  				</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">상세주소</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberDetailedAddress" id="cpMemberDetatiledAddress" readonly="readonly" th:value="${cpMember.cpMemberDetailedAddress}">
											</div>
	                  					</div>
		                  					
	                  				
			                	</div>
							</div>
							
							
							
							<br><br>
			                
			                <!-- 모집분야 -->
			                <div class="card shadow mb-4">
				               <!-- 모집분야 헤드-->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                 	<h2 class="m-0 font-weight-bold text-info">모집 분야</h2>
				                </div>
			                	
			                	<!-- 모집분야 바디 -->
			                	<div class="card-body">
									                					
										<div class="form-group row">
											<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">모집 분야명</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementRecruitmentField" id="hireAnnouncementRecruitmentField" placeholder="예) R&D, 경영지원" th:value="${hireAnnouncement.hireAnnouncementRecruitmentField}">
												<span id="hireAnnouncementRecruitmentFieldSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">경력여부</h5>
												<span id="hireAnnouncementRecuitmentFieldSpan" style="color: red; margin: auto;"></span>	                  							
	                  						</div>
	                  						<div class="col-xl-10">
		                  						<div class="custom-control custom-radio custom-control-inline">		                  					
		                  							<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio1" name="hireAnnouncementCareer" value="신입" th:checked="${hireAnnouncement.hireAnnouncementCareer} == '신입' ? 'checked' : 'false'">													
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio1">신입</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">													
													<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio2" name="hireAnnouncementCareer" value="경력" th:checked="${hireAnnouncement.hireAnnouncementCareer} == '경력' ? 'checked' : 'false'">																										
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio2">경력</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">													
													<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio3" name="hireAnnouncementCareer" value="경력무관"  th:checked="${hireAnnouncement.hireAnnouncementCareer=='경력무관'} ? 'checked' : 'false'">													
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio3">경력무관</label>
												</div>
		                    					<span id="hireAnnouncementCareerSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">근무부서</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementDepartment" id="hireAnnouncementDepartment" placeholder="근무하게 될 부서 또는 근무지를 입력해주세요." th:value="${hireAnnouncement.hireAnnouncementDepartment}">
	                    						<span id="hireAnnouncementDepartmentSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">직급/직책</h5>	
												<span id="jobgradeJobpositionClear" style="cursor: pointer;">직급/직책 초기화</span>                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementJobgradeJobposition" id="hireAnnouncementJobgradeJobposition" readonly="readonly">
												<span id="hireAnnouncementJobgradeJobpositionSpan" style="color: red; margin: auto;"></span>
												
												<table class="table table-bordered dataTable">
													<tr>
														<td style="width: 80px;">직급</td>
														<td>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition1" value="연구원">																
																<label class="custom-control-label" for="jobgradeJobposition1">연구원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition2" value="주임연구원">																
																<label class="custom-control-label" for="jobgradeJobposition2">주임연구원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition3" value="선임연구원">																
																<label class="custom-control-label" for="jobgradeJobposition3">선임연구원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition4" value="책임연구원">																
																<label class="custom-control-label" for="jobgradeJobposition4">책임연구원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition5" value="수석연구원">																
																<label class="custom-control-label" for="jobgradeJobposition5">수석연구원</label>
															</div>
															
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition6" value="연구소장">																
																<label class="custom-control-label" for="jobgradeJobposition6">연구소장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition7" value="사원">																
																<label class="custom-control-label" for="jobgradeJobposition7">사원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition8" value="주임">																
																<label class="custom-control-label" for="jobgradeJobposition8">주임</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition9" value="계장">																
																<label class="custom-control-label" for="jobgradeJobposition9">계장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition10" value="대리">																
																<label class="custom-control-label" for="jobgradeJobposition10">대리</label>
															</div>
															
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition11" value="과장">																
																<label class="custom-control-label" for="jobgradeJobposition11">과장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition12" value="차장">																
																<label class="custom-control-label" for="jobgradeJobposition12">차장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition13" value="부장">																
																<label class="custom-control-label" for="jobgradeJobposition13">부장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition14" value="감사">																
																<label class="custom-control-label" for="jobgradeJobposition14">감사</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition15" value="이사">																
																<label class="custom-control-label" for="jobgradeJobposition15">이사</label>
															</div>
															
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition16" value="상무">																
																<label class="custom-control-label" for="jobgradeJobposition16">상무</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition17" value="전무">																
																<label class="custom-control-label" for="jobgradeJobposition17">전무</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition18" value="부사장">																
																<label class="custom-control-label" for="jobgradeJobposition18">부사장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition19" value="임원">																
																<label class="custom-control-label" for="jobgradeJobposition19">임원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition20" value="사장">																
																<label class="custom-control-label" for="jobgradeJobposition20">사장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition21" value="면접 후 결정">																
																<label class="custom-control-label" for="jobgradeJobposition21">면접 후 결정</label>
															</div>
															
														
														
														</td>
													</tr>
													<tr>
														<td>직책</td>
														<td>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition22" value="팀원">																
																<label class="custom-control-label" for="jobgradeJobposition22">팀원</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition23" value="팀장">																
																<label class="custom-control-label" for="jobgradeJobposition23">팀장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition24" value="실장">																
																<label class="custom-control-label" for="jobgradeJobposition24">실장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition25" value="총무">																
																<label class="custom-control-label" for="jobgradeJobposition25">총무</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition26" value="지점장">																
																<label class="custom-control-label" for="jobgradeJobposition26">지점장</label>
															</div>
															
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition27" value="지사장">																
																<label class="custom-control-label" for="jobgradeJobposition27">지사장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition28" value="파트장">																
																<label class="custom-control-label" for="jobgradeJobposition28">파트장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition29" value="그룹장">																
																<label class="custom-control-label" for="jobgradeJobposition29">그룹장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition30" value="센터장">																
																<label class="custom-control-label" for="jobgradeJobposition30">센터장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition31" value="매니저">																
																<label class="custom-control-label" for="jobgradeJobposition31">매니저</label>
															</div>
															
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition32" value="본부장">																
																<label class="custom-control-label" for="jobgradeJobposition32">본부장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition33" value="사업부장">																
																<label class="custom-control-label" for="jobgradeJobposition33">사업부장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition34" value="원장">																
																<label class="custom-control-label" for="jobgradeJobposition34">원장</label>
															</div>
															<div class="custom-control custom-checkbox" style="display: inline-block; width: 120px;">
																<input type="checkbox" class="custom-control-input" name="jobgradeJobposition" id="jobgradeJobposition35" value="국장">																
																<label class="custom-control-label" for="jobgradeJobposition35">국장</label>
															</div>
														
														</td>
													</tr>
												</table>
												
												
												
												
	                    						<span id="hireAnnouncementJobGradeJobPositionSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">우대조건</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementPreferentialConditions" id="hireAnnouncementPreferentialConditions" placeholder="보유역량, 자격증, 외국어. 전공학과등 우대사항을 입력해보세요!" th:value="${hireAnnouncement.hireAnnouncementPreferentialConditions}">
	                    						<span id="hireAnnouncementPreferentialConditionsSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  				
			                	</div>
							</div>
							<br><br>
			                
			                <!-- 지원자격 -->
                         	<div class="card shadow mb-4">
                            <!-- 지원자격 헤드-->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h2 class="m-0 font-weight-bold text-info">지원 자격</h2>
                            </div>
                            
                            <!-- 지원자격 바디 -->
                           	<div class="card-body">
                        	                                  
                              <div class="form-group row">
                                 <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">지원자 학력</h5>
                                       </div>
                                       <div class="col-xl-10">                                       		
                                          <select name="hireAnnouncementEducation" id="hireAnnouncementEducation" class="custom-select">
                                            <option value="1" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '학력무관' ? 'true' : 'false'">학력무관</option>
                                            <option value="2" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '고등학교졸업이상' ? 'true' : 'false'">고등학교졸업이상</option>
                                            <option value="3" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '대학졸업(2,3년)이상' ? 'true' : 'false'">대학졸업(2,3년)이상</option>
                                            <option value="4" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '대학졸업(4년)이상' ? 'true' : 'false'">대학졸업(4년)이상</option>
                                            <option value="5" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '석사졸업이상' ? 'true' : 'false'">석사졸업이상</option>
                                            <option value="6" th:selected="${hireAnnouncement.hireAnnouncementEducation} == '박사졸업' ? 'true' : 'false'">박사졸업</option>
                                         </select>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">연봉/급여</h5>
                                       </div>
                                       <div class="col-xl-10">   
                                          <select name="hireAnnouncementSalary" id="hireAnnouncementSalary" class="custom-select">
                                            <option value="1" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '회사내규에 따름' ? 'true' : 'false'">회사내규에 따름</option>
                                            <option value="2" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '1400 만원 이하' ? 'true' : 'false'">1400 만원 이하</option>
                                            <option value="3" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '1400~1600만원' ? 'true' : 'false'">1400~1600만원</option>
                                            <option value="4" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '대학졸업(4년)이상' ? 'true' : 'false'">대학졸업(4년)이상</option>
                                            <option value="5" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '1600~1800만원' ? 'true' : 'false'">1600~1800만원</option>
                                            <option value="6" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '1800~2000만원' ? 'true' : 'false'">1800~2000만원</option>
                                            <option value="7" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '2000~2200만원' ? 'true' : 'false'">2000~2200만원</option>
                                            <option value="8" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '2400~2600만원' ? 'true' : 'false'">2400~2600만원</option>
                                            <option value="9" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '2600~2800만원' ? 'true' : 'false'">2600~2800만원</option>
                                            <option value="10" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '2800~3000만원' ? 'true' : 'false'">2800~3000만원</option>
                                            <option value="11" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '3000~3200만원' ? 'true' : 'false'">3000~3200만원</option>
                                            <option value="12" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '3200~3400만원' ? 'true' : 'false'">3200~3400만원</option>
                                            <option value="13" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '3400~3600만원' ? 'true' : 'false'">3400~3600만원</option>
                                            <option value="14" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '3600~3800만원' ? 'true' : 'false'">3600~3800만원</option>
                                            <option value="15" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '3800~4000만원' ? 'true' : 'false'">3800~4000만원</option>
                                            <option value="16" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '4000~5000만원' ? 'true' : 'false'">4000~5000만원</option>
                                            <option value="17" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '5000~6000만원' ? 'true' : 'false'">5000~6000만원</option>
                                            <option value="18" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '6000~7000만원' ? 'true' : 'false'">6000~7000만원</option>
                                            <option value="19" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '7000~8000만원' ? 'true' : 'false'">7000~8000만원</option>
                                            <option value="20" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '8000~9000만원' ? 'true' : 'false'">8000~9000만원</option>
                                            <option value="21" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '9000~1억원' ? 'true' : 'false'">9000~1억원</option>
                                            <option value="22" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '1억원 이상' ? 'true' : 'false'">1억원 이상</option>
                                            <option value="23" th:selected="${hireAnnouncement.hireAnnouncementSalary} == '면접 후 결정' ? 'true' : 'false'">면접 후 결정</option>
                                         </select>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">근무형태</h5>
                                       </div>
                                       <div class="col-xl-10">
                                          <select name="hireAnnouncementWorkingFormName" id="hireAnnouncementWorkingFormName" class="custom-select">
                                            <option value="1" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '계약직' ? 'true' : 'false'">계약직</option>
                                            <option value="2" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '교육생' ? 'true' : 'false'">교육생</option>
                                            <option value="3" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '별정직' ? 'true' : 'false'">별정직</option>
                                            <option value="4" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '병역특례' ? 'true' : 'false'">병역특례</option>      
                                            <option value="5" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '아르바이트' ? 'true' : 'false'">아르바이트</option>      
                                            <option value="6" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '위촉직' ? 'true' : 'false'">위촉직</option>      
                                            <option value="7" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '인턴직' ? 'true' : 'false'">인턴직</option>      
                                            <option value="8" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '전임' ? 'true' : 'false'">전임</option>      
                                            <option value="9" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '정규직' ? 'true' : 'false'">정규직</option>      
                                            <option value="10" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '파견직' ? 'true' : 'false'">파견직</option>      
                                            <option value="11" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '파트' ? 'true' : 'false'">파트</option>
                                            <option value="12" th:selected="${hireAnnouncement.hireAnnouncementWorkingFormName} == '프리랜서' ? 'true' : 'false'">프리랜서</option>                                                  
                                         </select>
                                       </div>
                                    </div>
                                 
							  </div>
                      		</div>
                      		<br><br>
                         
	                        <!-- 채용절차 -->
	                        <div class="card shadow mb-4">
	                        <!-- 채용절차 헤드-->
	                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	                            <h2 class="m-0 font-weight-bold text-info">채용 절차</h2>
	                        </div>
	                        
	                        <!-- 채용절차 바디 -->
	                        <div class="card-body">
	                          
	                                                             
	                           
	                                <div class="form-group row">
	                                   <div class="col-xl-2">
	                                      <h5 class="m-0 font-weight-bold">공고 대표직무</h5>
	                                      <span id="jobClear" style="cursor: pointer;">직무 초기화</span>
	                                   </div>
	                                   <div class="col-xl-10">   
										<input type="text" class="form-control" name="hireAnnouncementMainJob" id="hireAnnouncementMainJob" readonly="readonly">
										<span id="hireAnnouncementMainJobSpan" style="color: red; margin: auto;"></span>
	                                     
	                                    
	                                    
											<div id="job1DivId" class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: auto;">
												<th:block th:each="job : ${job}">
													<div th:id="|job1Id_${job.jobNo}|" th:text="${job.jobCategory}" th:name="job1Div" class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
															                                      		       		
		                                      		</div>
		                                      		
												
												</th:block>
												
	                                      		<!-- <div class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
		                                      		ASDF                                     		
	                                      		</div> -->
	                                      		
		                                    </div>
		                                      
		                                      <div id="job2DivId" class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: auto;" >
		                                      	<th:block th:each="job2 : ${job2}">
													<div th:name="|job2_job1Id_${job2.jobNo}|" th:id="|job2Id_${job2.job2No}|" th:text="${job2.job2Category}" class="job2Div" style="cursor: pointer; display: none;">
															                                      		       		
		                                      		</div>
												
												</th:block>
		                                      </div>
		                                      
		                                      
		                                      <div class="dropdown-list" style="float: left; height: 245px; overflow: auto; width: 55%;">
		                                      	<ul class="nav job3Ul">
		                                      		<th:block th:each="job3 : ${job3}">
		                                      			<li th:name="|job3_job2Id_${job3.job2No}|" class="nav-item job3Li" style="display: none;">
			                                      			<div class="form-check-inline">		
			                                      				<label class="form-check-label">
			                                      					<input type="checkbox" class="form-check-input" name="job3Click" th:id="|job3Id_${job3.job3No}|" th:value="${job3.job3Category}" th:text="${job3.job3Category}">
			                                      				</label>															
			                                      			</div>
		                                      			</li>		                                      	
		                                      		</th:block>
		                                      	</ul>
		                                      </div>
		                                      
		                                      
		                                      
		                                      <span id="hireAnnouncementMainJobSpan" style="color: red; margin: auto;"></span>
		                                   </div>
	                                   
	                                   
	                                   
	                                 
	                                   
	                                   
	                                   
	                                   
	                                <!--  -->
	                                </div>
	                                    <div class="form-group row">
	                                       <div class="col-xl-2">
	                                          <h5 class="m-0 font-weight-bold">지원 접수기간</h5>
	                                       </div>
	                                       <div class="col-xl-10">
	                                          <div class="row">
												<div class="col-xl-6">
													공고 시작일
													<input type="date" class="form-control" name="hireAnnouncementStartDate" id="hireAnnouncementStartDate" th:value="${hireAnnouncement.hireAnnouncementStartDate}" readonly="readonly">
												</div>
												<div class="col-xl-6">
	 												공고 종료일
	                                                <input type="date" class="form-control" name="hireAnnouncementEndDate" id="hireAnnouncementEndDate" th:value="${hireAnnouncement.hireAnnouncementEndDate}">
												</div>                                             
	                                          </div>
	                                                                                   
	                                       </div>
	                                    </div>
	                                 
	                            </div>
                      	 </div>
                         <br><br>
                         
                         <!-- 공고 내용 -->
                         <div class="card shadow mb-4">
                            <!-- 공고 내용 헤드-->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h2 class="m-0 font-weight-bold text-info">공고 내용</h2>
                            </div>
                            
                            <!-- 공고 내용 바디 -->
                            <div class="card-body">
                                
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">공고 내용</h5>
                                       </div>
                                       <div class="col-xl-10">   
                                          <textarea id="hireAnnouncementContents" name="hireAnnouncementContents" rows="20" class="form-control" th:inline="text">[[${hireAnnouncement.hireAnnouncementContents}]]</textarea>
                                         <span id="hireAnnouncementContentsSpan" style="color: red; margin: auto;"></span>
                                       </div>
                                    </div>
                            
                            </div>
                            
                         </div>
                         
                         
                         <button type="button" class="btn btn-success btn-icon-split" id="updateHireAnnouncementBtn"><span class="text">채용공고 수정</span></button>
                         
                         
                         </form>
					</div>
					
				</div>
			</div>



			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="login.html">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/datatables-demo.js"></script>
	
	
	<script>
	   
	      $('#updateHireAnnouncementBtn').click(function() {
	         $('#hireAnnouncementTitleSpan').text("");
	         $('#cpMemberManagerSpan').text("");
	         $('#cpMemberPhonenumSpan').text("");
	         $('#cpMemberEmailSpan').text("");
	         $('#hireAnnouncementRecruitmentFieldSpan').text("");
	         $('#hireAnnouncementDepartmentSpan').text("");
	         $('#hireAnnouncementJobGradeJobPositionSpan').text("");
	         $('#hireAnnouncementPreferentialConditionsSpan').text("");
	         $('#hireAnnouncementMainJobSpan').text("");
	         
	         if($('#hireAnnouncementTitle').val().length === 0){
	            $('#hireAnnouncementTitleSpan').text("공고제목을 입력하세요.");
	            return;
	         }
	         if($('#cpMemberManager').val().length === 0){
	            $('#cpMemberManagerSpan').text("담당자 이름을 입력하세요.");
	            return;
	         }
	         if($('#cpMemberPhonenum').val().length === 0){
	            $('#cpMemberPhonenumSpan').text("담당자 전화번호를 입력하세요.");
	            return;
	         }
	         if($('#cpMemberEmail').val().length === 0){
	            $('#cpMemberEmailSpan').text("이메일을 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementRecruitmentField').val().length === 0){
	            $('#hireAnnouncementRecruitmentFieldSpan').text("모집분야를 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementDepartment').val().length === 0){
	            $('#hireAnnouncementDepartmentSpan').text("근무부서를 입력하세요.");
	            return;
	         }
	         
	         if($('#hireAnnouncementJobgradeJobposition').val().length === 0){
	            $('#hireAnnouncementJobgradeJobpositionSpan').text("직급/직책을 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementPreferentialConditions').val().length === 0){
	            $('#hireAnnouncementPreferentialConditionsSpan').text("우대사항을 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementMainJob').val().length === 0){
	            $('#hireAnnouncementMainJobSpan').text("대표직무를 선택하세요.");
	            return;
	         }	         
	         
	         $('#cpMemberAnnouncementForm').submit();
	      });
	   
		$('#hireAnnouncementCareerRadio2').click(function(){
			//console.log("checkCareerFunction Click");
		});
		
		$('#hireAnnouncementMainJob').click(function(){
			$('#jobListSelect').css('display', '');
		});
		
		$('[name=job1Div]').click(function(){
			$('#job2DivId').children().attr('class', '');
			$('#job2DivId').children().css('display', 'none');
			//console.log(this.id);
			let job2Name = 'job2_' + this.id;
			$('[name='+job2Name+']').attr('class', 'dropdown-item d-flex align-items-center font-weight-bold text-truncate');
			$('[name='+job2Name+']').css('display','');
		});
		
		$('[class=job2Div]').click(function(){
			//console.log(this.id);
			
			$('.job3Li').css('display', 'none');			
			let job3Name = 'job3_' + this.id;
			$('[name=' + job3Name + ']').css('display', '');
			
		});
		
		
		$('[name=job3Click]').click(function(){
			//console.log(this);
			let str = "";
			$('[name=job3Click]').each(function(){
				if($(this).is(":checked")){
					str += $(this).val() + " ";
				}				
			});			
			$('#hireAnnouncementMainJob').val(str);
		})

		
		$('#jobClear').click(function(){
			$('#hireAnnouncementMainJob').val('');
			$('[name=job3Click]').each(function(){
				$(this).prop('checked', false);
			});
		});
		
		$('[name=jobgradeJobposition]').click(function(){
			//console.log(this);
			let str = "";
			$('[name=jobgradeJobposition]').each(function(){
				if($(this).is(':checked')){
					str += $(this).val() + " ";
				}
			});
			$('#hireAnnouncementJobgradeJobposition').val(str);
		});
		
		$('#jobgradeJobpositionClear').click(function(){
			$('#hireAnnouncementJobgradeJobposition').val('');
			$('[name=jobgradeJobposition]').each(function(){
				$(this).prop('checked', false);
			})
		});
		
</script>

</body>

</html>