<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addResume</title>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
<!-- 
<script th:inline="javascript">
$(document).ready(function(){
	let scrapNo = $('#scrapNo').val();
	let hireAnnouncementNo = $('#hireAnnouncementNo').val();
	if($('#scrap').val()==""){
		let scrapBoolean = 'Y';
		/*<![CDATA[*/
			$.ajax({
				url:/*[[@{/insertScrap}]]*/,
				type: "POST",
				data:{'scrapNo':scrapNo, 'hireAnnouncementNo':hireAnnouncementNo,'scrapBoolean':scrapBoolean},
				success: function(data){
					console.log(data);
				}
			});
	} else if($('#scrap').val()=="Y"){
		let scrapBoolean = 'N';
		$.ajax({
			url:/*[[@{/modifyScrap}]]*/, 
			type: "POST",
			data:{'scrapNo':scrapNo, 'hireAnnouncementNo':hireAnnouncementNo,'scrapBoolean':scrapBoolean},
			success: function(data){
				console.log(data);
			}
		})
	} else($('#scrap').val()=="N"){
		let scrapBoolean = 'Y';
		$.ajax({
			url:/*[[@{/modifyScrap}]]*/,
			type: "POST",
			data:{'scrapNo':scrapNo, 'hireAnnouncementNo':hireAnnouncementNo,'scrapBoolean':scrapBoolean},
			success: function(data){
				console.log(data);
			}
		})
	}
});
    /*]]>*/
</script>-->
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- SideBar -->
		<ul th:include="./include/menuSide::navSide"
			class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion"
			id="accordionSidebar">
		</ul>


		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div th:include="./include/menuTop::navTop"></div>
			<!-- Main Content -->
			<div id="content">

<!-- 페이지 내용 -->
<div class="container-fluid">  
	<!-- 로그인 -->
	<div align="right">
	<fieldset style="width: 650px;" >
	<div class="card-body p-0">
	<!-- Nested Row within Card Body -->
    <div class="row">             				
    	<div class="col-lg-12">
	    	<div class="p-5">
	        <div class="text-center">
	        	<button id="loginMemberBtn" class="btn btn-secondary btn-icon-split" style="width: 49%;">
	            	<span class="text">일반회원 로그인</span>
	            </button>
	            <button id="loginCpMemberBtn" class="btn btn-light btn-icon-split" style="width: 49%;">
	            	<span class="text">기업회원 로그인</span>
	            </button>                    					
			</div>
			<hr> 
	               					
	        <!-- cpMember -->
	        <div id="cpMemberDiv" style="display: none;">
	        <form class="user" id="cpMemberForm" method="post" th:action="@{/loginCpMember}">
		    <div class="form-group">
	        	<input type="text" class="form-control form-control-user" id="cpMemberId" name="cpMemberId" placeholder="ID를 입력하세요.">
	        	<span id="cpMemberIDSpan" style="color: red; margin: auto;"></span>
		    </div>
		    <div class="form-group">
	        	<input type="password" class="form-control form-control-user" id="cpMemberPw" name="cpMemberPw" placeholder="PW를 입력하세요.">
	            <span id="cpMemberPWSpan" style="color: red; margin: auto;"></span>
		    </div>	
		    <a id="cpMemberLoginBtn" class="btn btn-primary btn-user btn-block" style="color: white;">기업회원 로그인</a>
		    <hr>		                  					                  					
	       	</form>
			<hr>
	        <div class="text-center">
	        <a class="small" th:href="@{/findCpMember}">ID/PW 찾기</a>	                  						
	        <a class="small" th:href="@{/signUpCpMember}">회원가입</a>
	         </div>	                					
	         </div>
	               					
	               					<!-- member -->
	               					<div id="memberDiv">
	                					<form class="user" id="memberForm" method="post" th:action="@{/loginMember}">
		                  					<div class="form-group">
	                    						<input type="text" class="form-control form-control-user" id="memberId" name="memberId" placeholder="ID를 입력하세요.">
	                    						<span id="memberIDSpan" style="color: red; margin: auto;"></span>
		                  					</div>
		                  					<div class="form-group">
	                    						<input type="password" class="form-control form-control-user" id="memberPw" name="memberPw" placeholder="PW를 입력하세요.">
	                    						<span id="memberPWSpan" style="color: red; margin: auto;"></span>
		                  					</div>	
		                  						<a id="memberLoginBtn" class="btn btn-primary btn-user btn-block" style="color: white;">일반회원 로그인</a>
		                  					<hr>		                  					                  					
	                					</form>
	                					<hr>
	                					<div class="text-center">
	                  						<a class="small" th:href="@{/findMember}">ID/PW 찾기</a>	                  						
	                  						<a class="small" th:href="@{/addMember}">회원가입</a>
	                					</div>	                					
	               					</div>
	               				</div>  
               				</div>            				
            			</div>
          			</div>
	</fieldset>
	</div>
	<br><br>
	
	<fieldset style="display:inline-block; width: 350px; height: 250px;" th:each="list : ${list}">
		 <div th:text=${list.cpMemberCompany}></div> 
		 <div th:text=${list.hireAnnouncementTitle}></div>
		 <div>
		 	 <button type="button">스크랩</button>
		 	 <span th:text=${list.hireAnnouncementEndDate}></span>
		 </div>		
	</fieldset>

	
	
	
	
	
		<!---->
	
	
	
	
	
	
	
	
	
	
	<!-- <table border="1">
      <tr th:each="list : ${list}">
         <td>기업명</td>
         <td>공고 제목</td>
         <td>지원 자격</td>
         <td>근무조건</td>
         <td>마감일·등록일</td>
      </tr>	
      <tr >

    	 <td>
	      	 <span th:text=${list.cpMemberCompany}></span>
      	 </td>
         <td>
        	<span th:text=${list.hireAnnouncementTitle}></span>
         </td>
         <td th:text=${list.hireAnnouncementEducation}></td>
         <td>
         	<span th:text=${list.hireAnnouncementWorkingFormName}></span><br>
         	<span th:text=${list.areaSido}></span><a></a>
         	<span th:text=${list.area2Gungu}></span>
         </td>
         <td>
        	<span th:text=${list.hireAnnouncementStartDate}></span><br>
         	~ <span th:text=${list.hireAnnouncementEndDate}></span>
         </td> 
      </tr>
   </table> -->
   
      <!-- <div th:text="{scrapBoolean}"></div> -->
<input type="text" name="scrapBoolean" id="scrap" th:value="{scrapBoolean}">
   <input type="hidden" id="hireAnnouncementNo" th:value=${list.hireAnnouncementNo}>
   <input type="hidden" id="scrapNo" th:value=${list.scrapNo}>
			</div>
		</div>
	</div>
</div>


<!--  -->
<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

<script>
	//cpMember
	$('#loginCpMemberBtn').click(function(){
		$('#loginCpMemberBtn').attr('class', 'btn btn-secondary btn-icon-split');
		$('#loginMemberBtn').attr('class', 'btn btn-light btn-icon-split');
		$('#cpMemberDiv').css('display', '');
		$('#memberDiv').css('display', 'none');
	});
	
	$('#loginMemberBtn').click(function(){
		$('#loginCpMemberBtn').attr('class', 'btn btn-light btn-icon-split');
		$('#loginMemberBtn').attr('class', 'btn btn-secondary btn-icon-split');
		$('#cpMemberDiv').css('display', 'none');
		$('#memberDiv').css('display', '');
	});
	
	$('#cpMemberLoginBtn').click(function(){
		$('#cpMemberIDSpan').text("");
		$('#cpMemberPWSpan').text("");
		if($('#cpMemberId').val().length === 0){
			$('#cpMemberIDSpan').text("ID를 입력하세요.");
			return;
		}
		if($('#cpMemberPw').val().length === 0){
			$('#cpMemberPWSpan').text("PW를 입력하세요.");
			return;
		}
		
		$('#cpMemberForm').submit();
		
	})
	
	
	$('#memberLoginBtn').click(function(){
		$('#memberIDSpan').text("");
		$('#memberPWSpan').text("");
		if($('#memberId').val().length === 0){
			$('#memberIDSpan').text("ID를 입력하세요.");
			return;
		}
		if($('#memberPw').val().length === 0){
			$('#memberPWSpan').text("PW를 입력하세요.");
			return;
		}
		
		$('#memberForm').submit();
		
	})
</script>


<script th:inline="javascript">
/*<![CDATA[*/
	if([[${cp}]] == true){
		$('#loginCpMemberBtn').attr('class', 'btn btn-secondary btn-icon-split');
		$('#loginMemberBtn').attr('class', 'btn btn-light btn-icon-split');
		$('#cpMemberDiv').css('display', '');	
		$('#memberDiv').css('display' , 'none');
	}
/*]]>*/
</script>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>


<!--  -->
</body>
</html>