<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>recordAnnouncement</title>
<!-- Custom fonts for this template -->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<style type="text/css">
.job3Ul{
	margin-left: 2.5em; margin-top: 1em;
}

.job3Ul .job3Li{
	width: 50%;
}

</style>

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- SideBar -->
		<ul th:include="/include/menuSide::navSide" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
		</ul>
		

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div th:include="/include/menuTop::navTop"></div>
			<!-- Main Content -->
			<div id="content">
				
				<!-- 페이지 내용 -->
				<div class="container-fluid">
		
					<!-- Page 헤드 -->
					<div>
						<h1 class="h3 mb-2 text-gray-800">채용공고 등록</h1>
					</div>
					<br><br>
					
					
					
					<!-- 담당자 정보 -->
					<div class="row">
						<div class="col-xl-8 col-lg-7">
						
						<form class="user" id="alterCpMemberDetailForm" method="post" th:action="@{/alterCpMemberDetail}">
			             	<div class="card shadow mb-4">
				               
				                <!-- 공고 제목 -->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                	<h2 class="m-0 font-weight-bold text-info">공고 제목</h2>				                 		
				                </div>
				                <div class="card-body">
				                	<input type="text" class="form-control form-control-user" id="hireAnnouncementTitle" name="hireAnnouncementTitle" placeholder="공고 제목을 입력하세요.">
                               		<span id="hireAnnouncementTitleSpan" style="color: red; margin: auto;"></span>
				                </div>
				                
				          	</div>  
				               <br>
				              
				            <div class="card shadow mb-4">    
				                <!-- 담당자 정보 헤드-->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                 	<h2 class="m-0 font-weight-bold text-info">담당자 정보</h2>
				                </div>
			               	
			                	<!-- 담당자 정보 바디 -->
			                	<div class="card-body">
										                					
										<div class="form-group row">
											<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">담당자 성함</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberManager" id="cpMemberManager" placeholder="담당자 이름을 입력하세요." th:value="${cpMember.cpMemberManager}">
												<span id="cpMemberManagerSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">휴대폰</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberPhonenum" id="cpMemberPhonenum" placeholder="담당자 전화번호를 입력하세요." th:value="${cpMember.cpMemberPhonenum}">
	                    						<span id="cpMemberPhonenumSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">이메일</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberEmail" id="cpMemberEmail" placeholder="이메일을 입력하세요." th:value="${cpMember.cpMemberEmail}">
	                    						<span id="cpMemberEmailSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">업종</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<select name="cpMemberIndustryNo" class="custom-select">
		                    						<option value="0">- 산업이름 -</option>		                    							                    								                    						
		                    						<th:block th:each="industry : ${industryList}">
		                    							<th:block th:if="${industry.industryNo == cpMember.cpMemberIndustryNo}">
		                    								<option th:value="${industry.industryNo}" th:text="${industry.industryCategory}" selected="selected"></option>
		                    							</th:block>
		                    							<th:block th:if="${industry.industryNo != cpMember.cpMemberIndustryNo}">
		                    								<option th:value="${industry.industryNo}" th:text="${industry.industryCategory}"></option>
		                    							</th:block>
		                    							
		                    						</th:block>
		                    					</select>
											</div>
		                  				</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">근무 지역</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<th:block th:if="${areaAndArea2 != null}">
		                  							<input name="address" id="address" type="text" class="form-control" th:value="|${areaAndArea2.areaSido} ${areaAndArea2.area2Gungu}|" readonly="readonly">
			                  						<input type="hidden" id="areaSido" name="areaSido" th:value="${areaAndArea2.areaSido}">
			                  						<input type="hidden" id="areaGungu" name="areaGungu" th:value="${areaAndArea2.area2Gungu}">
		                  						</th:block>
		                  						<th:block th:if="${areaAndArea2 == null}">
		                  							<input name="address" id="address" type="text" class="form-control" readonly="readonly">
			                  						<input type="hidden" id="areaSido" name="areaSido">
			                  						<input type="hidden" id="areaGungu" name="areaGungu">
		                  						</th:block>    
											</div>
		                  				</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">상세주소</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="cpMemberDetailedAddress" id="cpMemberDetatiledAddress" readonly="readonly" th:value="${cpMember.cpMemberDetailedAddress}">
											</div>
	                  					</div>
		                  					
	                  				
			                	</div>
							</div>
							
							
							
							<br><br>
			                
			                <!-- 모집분야 -->
			                <div class="card shadow mb-4">
				               <!-- 모집분야 헤드-->
				                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				                 	<h2 class="m-0 font-weight-bold text-info">모집 분야</h2>
				                </div>
			                	
			                	<!-- 모집분야 바디 -->
			                	<div class="card-body">
									                					
										<div class="form-group row">
											<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">모집 분야명</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementRecuitmentField" id="hireAnnouncementRecuitmentField" placeholder="예) R&D, 경영지원">
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">경력여부</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">
		                  						<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio1" name="hireAnnouncementCareer" value="신입">
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio1">신입</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio2" name="hireAnnouncementCareer" value="경력">
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio2">경력</label>
												</div>
												<div class="custom-control custom-radio custom-control-inline">
													<input type="radio" class="custom-control-input" id="hireAnnouncementCareerRadio3" name="hireAnnouncementCareer" value="경력무관">
												    <label class="custom-control-label" for="hireAnnouncementCareerRadio3">경력무관</label>
												</div>
		                    					<span id="hireAnnouncementCareerSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">근무부서</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementJobPosition" id="hireAnnouncementJobPosition" placeholder="근무하게 될 부서 또는 근무지를 입력해주세요.">
	                    						<span id="hireAnnouncementJobPositionSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">직급/직책</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementJobGradeJobPosition" id="hireAnnouncementJobGradeJobPosition">
	                    						<span id="hireAnnouncementJobGradeJobPositionSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  					<div class="form-group row">
	                  						<div class="col-xl-2">	
												<h5 class="m-0 font-weight-bold">우대조건</h5>	                  							
	                  						</div>
	                  						<div class="col-xl-10">			                  				
												<input type="text" class="form-control" name="hireAnnouncementPreferentialConditions" id="hireAnnouncementPreferentialConditions" placeholder="보유역량, 자격증, 외국어. 전공학과등 우대사항을 입력해보세요!">
	                    						<span id="hireAnnouncementPreferentialConditionsSpan" style="color: red; margin: auto;"></span>
											</div>
	                  					</div>
	                  				
			                	</div>
							</div>
							<br><br>
			                
			                <!-- 지원자격 -->
                         	<div class="card shadow mb-4">
                            <!-- 지원자격 헤드-->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h2 class="m-0 font-weight-bold text-info">지원 자격</h2>
                            </div>
                            
                            <!-- 지원자격 바디 -->
                           	<div class="card-body">
                        	                                  
                              <div class="form-group row">
                                 <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">지원자 학력</h5>
                                       </div>
                                       <div class="col-xl-10">   
                                          <select name="hireAnnouncementEducation" id="hireAnnouncementEducation" class="custom-select">                                          
                                            <option value="0">학력무관</option>
                                            <option value="1">고등학교졸업이상</option>
                                            <option value="2">대학졸업(2,3년)이상</option>
                                            <option value="3">대학졸업(4년)이상</option>
                                            <option value="4">석사졸업이상</option>
                                            <option value="5">박사졸업</option>
                                         </select>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">연봉/급여</h5>
                                       </div>
                                       <div class="col-xl-10">   
                                          <select name="hireAnnouncementSalary" id="hireAnnouncementSalary" class="custom-select">
                                            <option value="0">회사내규에 따름</option>
                                            <option value="1">1400 만원 이하</option>
                                            <option value="2">1400~1600만원</option>
                                            <option value="3">대학졸업(4년)이상</option>
                                            <option value="4">1600~1800만원</option>
                                            <option value="5">1800~2000만원</option>
                                            <option value="6">2000~2200만원</option>
                                            <option value="7">2400~2600만원</option>
                                            <option value="8">2600~2800만원</option>
                                            <option value="9">2800~3000만원</option>
                                            <option value="10">3000~3200만원</option>
                                            <option value="11">3200~3400만원</option>
                                            <option value="12">3400~3600만원</option>
                                            <option value="13">3600~3800만원</option>
                                            <option value="14">3800~4000만원</option>
                                            <option value="15">4000~5000만원</option>
                                            <option value="16">5000~6000만원</option>
                                            <option value="17">6000~7000만원</option>
                                            <option value="18">7000~8000만원</option>
                                            <option value="19">8000~9000만원</option>
                                            <option value="20">9000~1억원</option>
                                            <option value="21">1억원 이상</option>
                                            <option value="22">면접 후 결정</option>
                                         </select>
                                       </div>
                                    </div>
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">근무형태</h5>
                                       </div>
                                       <div class="col-xl-10">
                                          <select name="hireAnnouncementWorkingFormName" id="hireAnnouncementWorkingFormName" class="custom-select">
                                            <option value="0">계약직</option>
                                            <option value="1">교육생</option>
                                            <option value="2">별정직</option>
                                            <option value="3">병역특례</option>      
                                            <option value="4">아르바이트</option>      
                                            <option value="5">위촉직</option>      
                                            <option value="6">인턴직</option>      
                                            <option value="7">전임</option>      
                                            <option value="8">정규직</option>      
                                            <option value="9">파견직</option>      
                                            <option value="10">파트</option>
                                            <option value="11">프리랜서</option>                                                  
                                         </select>
                                       </div>
                                    </div>
                                 
							  </div>
                      		</div>
                      		<br><br>
                         
	                        <!-- 채용절차 -->
	                        <div class="card shadow mb-4">
	                        <!-- 채용절차 헤드-->
	                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	                            <h2 class="m-0 font-weight-bold text-info">채용 절차</h2>
	                        </div>
	                        
	                        <!-- 채용절차 바디 -->
	                        <div class="card-body">
	                          
	                                                             
	                           
	                                <div class="form-group row">
	                                   <div class="col-xl-2">
	                                      <h5 class="m-0 font-weight-bold">공고 대표직무</h5>
	                                   </div>
	                                   <div class="col-xl-10">   
										<input type="text" class="form-control" name="hireAnnouncementMainJob" id="hireAnnouncementMainJob" readonly="readonly">
	                                      
	                                    
	                                    
	                                    
											<div id="job1DivId" class="dropdown-list" style="float: left; height: 245px; overflow: scroll; width: 20%;">
												<th:block th:each="job : ${job}">
													<div th:id="|job1Id_${job.jobNo}|" th:text="${job.jobCategory}" th:name="job1Div" class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
															                                      		       		
		                                      		</div>
		                                      		
												
												</th:block>
												
	                                      		<!-- <div class="dropdown-item d-flex align-items-center font-weight-bold text-truncate" style="cursor: pointer;">
		                                      		ASDF                                     		
	                                      		</div> -->
	                                      		
		                                    </div>
		                                      
		                                      <div id="job2DivId" class="dropdown-list" style="float: left; height: 245px; overflow: scroll; width: 25%;" >
		                                      	<th:block th:each="job2 : ${job2}">
													<div th:name="|job2_job1Id_${job2.jobNo}|" th:id="|job2Id_${job2.job2No}|" th:text="${job2.job2Category}" class="job2Div" style="cursor: pointer; display: none;">
															                                      		       		
		                                      		</div>
												
												</th:block>
		                                      </div>
		                                      
		                                      
		                                      <div class="dropdown-list" style="float: left; height: 245px; overflow: scroll; width: 55%;">
		                                      	<ul class="nav job3Ul">
		                                      		<th:block th:each="job3 : ${job3}">
		                                      			<li th:name="|job3_job2Id_${job3.job2No}|" class="nav-item job3Li" style="display: none;">
			                                      			<div class="form-check-inline">		
			                                      				<label class="form-check-label">
			                                      					<input type="checkbox" class="form-check-input" name="job3Click" th:id="|job3Id_${job3.job3No}|" th:value="${job3.job3Category}" th:text="${job3.job3Category}">
			                                      				</label>															
			                                      			</div>
		                                      			</li>		                                      	
		                                      		</th:block>
		                                      	</ul>
		                                      </div>
		                                      
		                                      
		                                      
		                                      <span id="hireAnnouncementMainJobSpan" style="color: red; margin: auto;"></span>
		                                   </div>
	                                   
	                                   
	                                   
	                                 
	                                   
	                                   
	                                   
	                                   
	                                <!--  -->
	                                </div>
	                                    <div class="form-group row">
	                                       <div class="col-xl-2">
	                                          <h5 class="m-0 font-weight-bold">지원 접수기간</h5>
	                                       </div>
	                                       <div class="col-xl-10">
	                                          <div class="row">
												<div class="col-xl-6">
													공고 시작일
													<input type="date" class="form-control" name="hireAnnouncementStartDate" id="hireAnnouncementStartDate" th:value="${#dates.format(#dates.createToday(),'YYYY-MM-dd')}" readonly="readonly">
												</div>
												<div class="col-xl-6">
	 												공고 종료일
	                                                <input type="date" class="form-control" name="hireAnnouncementEndDate" id="hireAnnouncementEndDate" th:value="${#dates.format(#dates.createToday(),'YYYY-MM-dd')}">
												</div>                                             
	                                          </div>
	                                                                                   
	                                       </div>
	                                    </div>
	                                 
	                            </div>
                      	 </div>
                         <br><br>
                         
                         <!-- 공고 내용 -->
                         <div class="card shadow mb-4">
                            <!-- 공고 내용 헤드-->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h2 class="m-0 font-weight-bold text-info">공고 내용</h2>
                            </div>
                            
                            <!-- 공고 내용 바디 -->
                            <div class="card-body">
                                
                                    <div class="form-group row">
                                       <div class="col-xl-2">
                                          <h5 class="m-0 font-weight-bold">공고 내용</h5>
                                       </div>
                                       <div class="col-xl-10">   
                                          <textarea id="hireAnnouncementContents" name="hireAnnouncementContents" rows="20" class="form-control"></textarea>
                                         <span id="hireAnnouncementContentsSpan" style="color: red; margin: auto;"></span>
                                       </div>
                                    </div>
                            
                            </div>
                            
                         </div>
                         </form>
					</div>
					
				</div>
			</div>



			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="login.html">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/datatables-demo.js"></script>
	
	
	<script>
	   
	      $('#insertHireAnnouncementBtn').click(function() {
	         $('#hireAnnouncementTitleSpan').text("");
	         $('#cpMemberManagerSpan').text("");
	         $('#cpMemberPhonenumSpan').text("");
	         $('#cpMemberEmailSpan').text("");
	         $('#hireAnnouncementRecuitmentFieldSpan').text("");
	         $('#hireAnnouncementJobGradeJobPositionSpan').text("");
	         $('#hireAnnouncementPreferentialConditionsSpan').text("");
	         $('#hireAnnouncementMainJobSpan').text("");
	         
	         if($('#hireAnnouncementTitle').val().length === 0){
	            $('#hireAnnouncementTitleSpan').text("공고제목을 입력하세요.");
	            return;
	         }
	         if($('#cpMemberManager').val().length === 0){
	            $('#cpMemberManagerSpan').text("담당자 이름을 입력하세요.");
	            return;
	         }
	         if($('#cpMemberPhonenum').val().length === 0){
	            $('#cpMemberPhonenumSpan').text("담당자 전화번호를 입력하세요.");
	            return;
	         }
	         if($('#cpMemberEmail').val().length === 0){
	            $('#cpMemberEmailSpan').text("이메일을 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementRecuitmentField').val().length === 0){
	            $('#hireAnnouncementRecuitmentFieldSpan').text("모집분야를 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementJobGradeJobPosition').val().length === 0){
	            $('#hireAnnouncementJobGradeJobPositionSpan').text("근무부서를 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementPreferentialConditions').val().length === 0){
	            $('#hireAnnouncementPreferentialConditionsSpan').text("우대사항을 입력하세요.");
	            return;
	         }
	         if($('#hireAnnouncementMainJob').val().length === 0){
	            $('#hireAnnouncementMainJobSpan').text("대표직무를 선택하세요.");
	            return;
	         }
	         
	         $('#cpMemberAnnouncementForm').submit();
	      });
	   
		$('#hireAnnouncementCareerRadio2').click(function(){
			//console.log("checkCareerFunction Click");
		});
		
		$('#hireAnnouncementMainJob').click(function(){
			$('#jobListSelect').css('display', '');
		});
		
		$('[name=job1Div]').click(function(){
			$('#job2DivId').children().attr('class', '');
			$('#job2DivId').children().css('display', 'none');
			//console.log(this.id);
			let job2Name = 'job2_' + this.id;
			$('[name='+job2Name+']').attr('class', 'dropdown-item d-flex align-items-center font-weight-bold text-truncate');
			$('[name='+job2Name+']').css('display','');
		});
		
		$('[class=job2Div]').click(function(){
			//console.log(this.id);
			
			$('.job3Li').css('display', 'none');			
			let job3Name = 'job3_' + this.id;
			$('[name=' + job3Name + ']').css('display', '');
			
		});
		
		
		$('[name=job3Click]').click(function(){
			console.log(this);
			var str = "";
			$('[name=job3Click]').each(function(){
				if($(this).is(":checked")){
					str += $(this).val() + " ";
				}				
			});
			
			$('#hireAnnouncementMainJob').val(str);
		})
	</script>

</body>

</html>