<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getMemberCertificate</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
	<!-- SideBar -->
<ul th:include="/include/menuSide::navSide" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
</ul>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<div th:include="/include/menuTop::navTop"></div>
	<!-- Main Content -->
<div id="content">
				
	<!-- 페이지 내용 -->
	<div class="container-fluid">  
         
            <h1>학력 리스트</h1>
            <br>
            <a th:href="@{/addMemberAcademic}" class="btn btn-info">학력사항 추가</a>
            <br>
            <table class="table">
           	 <th:block th:each="ac : ${academicList}"> 
                  <!-- <td>회원정보</td> -->
                  <tr>               
                     <td>최종학력</td>
                     <td th:value="${ac.academicGrade}" th:text="${ac.academicGrade}"></td>
                  </tr>
                  <tr>
                     <td>학교명</td>
                     <td th:value="${ac.academicName}" th:text="${ac.academicName}"></td>
                  </tr>
                  <tr>
                     <td>전공계열</td>
                     <td th:value="${ac.academicMajor}" th:text="${ac.academicMajor}"></td>
                  </tr>
                  <tr>
                     <td>전공명</td>
                     <td th:value="${ac.academicMajorDetail}" th:text="${ac.academicMajorDetail}"></td>
                  </tr>
                  <tr>
                     <td>재학기간(입학)</td>
                     <td th:value="${ac.academicFromDate}" th:text="${ac.academicFromDate}"></td>
                  </tr>
                  <tr>
                     <td>재학기간(졸업)</td>
                     <td th:value="${ac.academicToDate}" th:text="${ac.academicToDate}"></td>
                  </tr>
                  <tr>
                     <td>학점</td>
                     <td th:value="${ac.academicScore}" th:text="${ac.academicScore}"></td>
                  </tr>
                  <tr>
                     <td colspan="2" align="right">
                        <a th:href="@{/modifyMemberAcademic(academicNo=${ac.academicNo})}" class="btn btn-info">수정</a>
                        <a th:href="@{/removeMemberAcademic(academicNo=${ac.academicNo})}" class="btn btn-info">삭제</a>
                     </td>
                  </tr>
               </th:block>
            </table>
         </div>
      </div>
   </div>
</div>
</body>
</html>