<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getSelfIntroductionOne</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
	<!-- SideBar -->
<ul th:include="/include/menuSide::navSide" class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">
</ul>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
	<div th:include="/include/menuTop::navTop"></div>
	<!-- Main Content -->
<div id="content">		
	<!-- 페이지 내용 -->
	<div class="container-fluid">
      <h1>자기소개서 상세페이지</h1>
      <br>
      <a th:href="@{/modifySelfIntroduction(selfIntroductionNo=${selfIntroductionOne.selfIntroductionNo})}"  class="btn btn-info">수정</a> 
      <a th:href="@{/removeSelfIntroduction(selfIntroductionNo=${selfIntroductionOne.selfIntroductionNo})}"  class="btn btn-info">삭제</a>
      <br>
      <br>
      
      <table class="table">
         <tr>
            <td>제목</td>
            <td th:value="${selfIntroductionOne.selfIntroductionTitle}" th:text="${selfIntroductionOne.selfIntroductionTitle}"></td>
         </tr>
         <tr>
            <td>내용</td>
            <td th:value="${selfIntroductionOne.selfIntroductionContents}" th:text="${selfIntroductionOne.selfIntroductionContents}"></td>
         </tr>
         <tr>
            <td>작성일자</td>
            <td th:value="${selfIntroductionOne.selfIntroductionDate}" th:text="${selfIntroductionOne.selfIntroductionDate}"></td>
         </tr>
      </table>
   </div>
  </div>
 </div>
</div>
</body>
</html>