<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modifyMemberCertificate</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
<script>
	let helperInit = function() {
		$('#certificateDateHelper').text("");
		$('#certificateNameHelper').text("");
	}

	$(document).ready(function() {
		$('#certiBtn').click(function() {

			if ($('#certificateName').val() == '') {
				helperInit();
				$('#certificateNameHelper').text("값을 입려해 주세요");
				$('#certificateName').focus();
			} else {
				$('#certiFome').submit();
			}
		});
	});
</script>
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- SideBar -->
		<ul th:include="/include/menuSide::navSide"
			class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion"
			id="accordionSidebar">
		</ul>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div th:include="/include/menuTop::navTop"></div>
			<!-- Main Content -->
			<div id="content">

				<!-- 페이지 내용 -->
				<div class="container-fluid">
					<div class="card shadow mb-4">

						<!-- 공고 제목 -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h1 align="center" class="m-0 font-weight-bold text-info">자격증
								수정</h1>
						</div>

						<div class="card-body">

							<form th:action="@{/modifyMemberCertificate}" id="certiFome"
								method="post">

								<div>
									<input type="hidden" name="certificateNo"
										th:value="${memberCertificate.certificateNo}">
								</div>
								<div class="row">
								<div class="col-sm-2">자격증명 :</div>
								<div class="col-sm-10">
									<input type="text"
										th:value="${memberCertificate.certificateName}"
										name="certificateName" id="certificateName"
										class="form-control"> <span id="certificateNameHelper"
										class="text text-danger"></span>
								</div>
								</div>
								<br>
								<div class="row">
								<div class="col-sm-2">취득일 :</div>
								<div class="col-sm-10">
									<input type="date"
										th:value="${memberCertificate.certificateDate}"
										name="certificateDate" id="certificateDate"
										class="form-control"> <span id="certificateDateHelper"
										class="text text-danger"></span>
								</div>
								</div>
							</form>
							<br>
							<button type="button" id="certiBtn" class="btn btn-info">수정하기</button>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</body>
</html>