<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.HireAnnouncementMapper">
	
	<!-- 채용공고 월별달력 -->
   	<select id="selectDayAndAnnouncementList" parameterType="String" resultType="com.gdu.linkJobs.vo.DayAndAnnouncement">
      	SELECT 
      		hire_announcement_title AS hireAnnouncementTitle,
			hire_announcement_start_date AS hireAnnouncementStartDate,
			hire_announcement_end_date AS hireAnnouncementEndDate
	  	FROM linkjobs_hire_announcement
		WHERE cpmember_id = #{cpmemberId}
		AND hire_announcement_start_date <![CDATA[<=]]> #{hireAnnouncementStartDate}
		AND hire_announcement_end_date >= #{hireAnnouncementEndDate}
		ORDER BY hire_announcement_no ASC
   	</select>
	
	<!-- 채용공고 상세보기(본문보기) -->
	<select id="selectHireAnnouncementOne" resultType="com.gdu.linkJobs.vo.HireAnnouncementDetail" parameterType="int">
		SELECT 
			cpmember.cpmember_company company,
			hireAnnouncement.hire_announcement_title title,
			hireAnnouncement.hire_announcement_career career,
			hireAnnouncement.hire_announcement_education education,
			hireAnnouncement.hire_announcement_working_form_name workingFormName,
			hireAnnouncement.hire_announcement_salary salary,
			hireAnnouncement.hire_announcement_jobgrade_jobposition job,
			hireAnnouncement.hire_announcement_department department,
			concat(AREA.area_sido, ' ', AREA2.area2_gungu) area,
			cpmember.cpmember_detailed_address address,
			hireAnnouncement.hire_announcement_preferential_conditions preferentialConditions,
			hireAnnouncement.hire_announcement_main_job mainJob,
			hireAnnouncement.hire_announcement_contents contents,
			hireAnnouncement.hire_announcement_start_date startDate,
			hireAnnouncement.hire_announcement_end_date endDate,
			cpmember.cpmember_manager manager,
			industry.Industry_category industry,
			cpmember.cpmember_number_of_employees numEmployees,
			cpmember.cpmember_establish_date establishDate, 
			cpmember.cpmember_ceo ceo,
			pic.cpmember_pic pic
		FROM linkjobs_hire_announcement hireAnnouncement 
			INNER JOIN linkjobs_cpmember cpmember 
			INNER JOIN linkjobs_area2 AREA2 
			INNER JOIN linkjobs_area AREA 
			INNER JOIN linkjobs_industry industry
			INNER JOIN linkjobs_cpmember_pic pic
			ON hireAnnouncement.cpmember_id = cpmember.cpmember_id 
			AND cpmember.area2_no = AREA2.area2_no 
			AND AREA2.area_no = AREA.area_no 
			AND industry.industry_no = cpmember.industry_no
			AND cpmember.cpmember_id = pic.cpmember_id
		WHERE hireAnnouncement.hire_announcement_no = #{hireAnnouncementNo}
	</select>
	
	
	<!-- 체용공고 마감처리 -->
	<update id="updateDeadlineAnnouncement" parameterType="com.gdu.linkJobs.vo.HireAnnouncement">
		UPDATE linkjobs_hire_announcement 
		SET hire_announcement_end_date = NOW() 
		WHERE cpmember_id = #{cpmemberId} 
		AND hire_announcement_no = #{hireAnnouncementNo}
		AND hire_announcement_end_date > NOW()
	</update>
	
	
	<!-- 채용공고 수정 -->
	<update id="updateHireAnnouncementOne" parameterType="com.gdu.linkJobs.vo.HireAnnouncement">
		UPDATE linkjobs_hire_announcement
		SET
			hire_announcement_title = #{hireAnnouncementTitle},
			hire_announcement_recruitment_field = #{hireAnnouncementRecruitmentField},
			hire_announcement_career = #{hireAnnouncementCareer},
			hire_announcement_department = #{hireAnnouncementDepartment},
			hire_announcement_jobgrade_jobposition = #{hireAnnouncementJobgradeJobposition},
			hire_announcement_preferential_conditions = #{hireAnnouncementPreferentialConditions},
			hire_announcement_education = #{hireAnnouncementEducation},
			hire_announcement_salary = #{hireAnnouncementSalary},
			hire_announcement_working_form_name = #{hireAnnouncementWorkingFormName},
			hire_announcement_main_job = #{hireAnnouncementMainJob},
			hire_announcement_end_date = #{hireAnnouncementEndDate},
			hire_announcement_contents = #{hireAnnouncementContents}
		WHERE hire_announcement_no = #{hireAnnouncementNo} 
		AND cpmember_id = #{cpmemberId}
	</update>
	
	<!-- 채용공고 상세보기(수정폼) -->
	<select id="selectHireAnnouncementDetail" parameterType="int" resultType="com.gdu.linkJobs.vo.HireAnnouncement">
		SELECT 
			hire_announcement_no AS hireAnnouncementNo,
			cpmember_id AS cpmemberId,
			hire_announcement_title AS hireAnnouncementTitle,
			hire_announcement_manager AS hireAnnouncementManager,
			hire_announcement_recruitment_field AS hireAnnouncementRecruitmentField,
			hire_announcement_career AS hireAnnouncementCareer,
			hire_announcement_department AS hireAnnouncementDepartment,
			hire_announcement_jobgrade_jobposition AS hireAnnouncementJobgradeJobposition,
			hire_announcement_preferential_conditions AS hireAnnouncementPreferentialConditions,
			hire_announcement_education AS hireAnnouncementEducation,
			hire_announcement_salary AS hireAnnouncementSalary,
			hire_announcement_working_form_name AS hireAnnouncementWorkingFormName,
			hire_announcement_main_job AS hireAnnouncementMainJob,
			hire_announcement_start_date AS hireAnnouncementStartDate,
			hire_announcement_end_date AS hireAnnouncementEndDate,
			hire_announcement_contents AS hireAnnouncementContents
		FROM linkjobs_hire_announcement
		WHERE hire_announcement_no = #{hireAnnouncementNo}
	</select>
	
	
	
	
	<!-- 채용공고 등록쿼리 -->
	<insert id="insertHireAnnouncement" parameterType="com.gdu.linkJobs.vo.HireAnnouncement">
		INSERT INTO linkjobs_hire_announcement(
			cpmember_id,
			hire_announcement_title,
			hire_announcement_manager,			
			hire_announcement_recruitment_field,
			hire_announcement_career,
			hire_announcement_department,
			hire_announcement_jobgrade_jobposition,
			hire_announcement_preferential_conditions,
			hire_announcement_education,
			hire_announcement_salary,
			hire_announcement_working_form_name,
			hire_announcement_main_job,
			hire_announcement_start_date,
			hire_announcement_end_date,			
			hire_announcement_contents
		) VALUES (
			#{cpmemberId},
			#{hireAnnouncementTitle},
			#{hireAnnouncementManager},			
			#{hireAnnouncementRecruitmentField},
			#{hireAnnouncementCareer},
			#{hireAnnouncementDepartment},
			#{hireAnnouncementJobgradeJobposition},
			#{hireAnnouncementPreferentialConditions},
			#{hireAnnouncementEducation},
			#{hireAnnouncementSalary},
			#{hireAnnouncementWorkingFormName},
			#{hireAnnouncementMainJob},
			NOW(),
			(SELECT DATE_SUB(DATE_ADD(#{hireAnnouncementEndDate}, INTERVAL 1 DAY), INTERVAL 1 SECOND) FROM DUAL),			
			#{hireAnnouncementContents}
		)
	</insert>
</mapper>	