<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.JobMapper">

	<!-- Job 리스트 가져오기 -->
	<select id="selectJobListAll"	resultType="com.gdu.linkJobs.vo.Job">
		SELECT 
			job_no jobNo, 
			job_category jobCategory 
		FROM linkjobs_job
	</select>

	<!-- Job2 리스트 가져오기 -->
	<select id="selectJob2ListAll"	resultType="com.gdu.linkJobs.vo.Job2">
		SELECT 
			job2_no job2No, 
			job2_category job2Category, 
			job_no jobNo
		FROM linkjobs_job2 
		ORDER BY jobNo, job2No
	</select>

	<!-- Job3 리스트 가져오기 -->
	<select id="selectJob3ListAll"	resultType="com.gdu.linkJobs.vo.Job3">
		SELECT 
			job3_no job3No, 
			job3_category job3Category, 
			job2_no job2No
		FROM linkjobs_job3 
		ORDER BY job2No, job3No
	</select>

	<!-- 레스트 컨트롤러 용 job,job2리스트 -->
	<select id="selectRestJob" parameterType="int" resultType="com.gdu.linkJobs.vo.JobAndJob2AndJob3">
		SELECT
			job.job_category jobCategory,
			job.job_no jobNo,
			job2.job2_category job2Category,
			job2.job2_no job2No
		FROM linkjobs_job job
		INNER JOIN linkjobs_job2 job2
		ON job.job_no=job2.job_no
		WHERE job.job_no=#{jobNo}
	</select>
	
	<!-- 레스트 컨트롤러 용 job3,job2리스트 -->
	<select id="selectRestJob2" parameterType="int" resultType="com.gdu.linkJobs.vo.JobAndJob2AndJob3">
		SELECT
			job2.job2_no job2No,
			job2.job2_category job2Category,
			job3.job3_no job3No,
			job3.job3_category job3Category
		FROM linkjobs_job2 job2
		INNER JOIN linkjobs_job3 job3
		ON job2.job2_no=job3.job2_no
		WHERE job2.job2_no=#{job2No}
	</select>



</mapper>