<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.LikecpMapper">

<!-- 일반회원 관심기업  -->
<select id="selectMemberLikecp" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">

SELECT 
		likecp.likecp_boolean likecpBoolean,
		likecp.likecp_no likecpNo,
		likecp.cpmember_id cpmemberId,
		likecp.member_id memberId,
		likecp.likecp_date likecpDate,
		hire.cpmember_id cpmemberId,
		hire.hire_announcement_no hireAnnouncementNo,
		hire.hire_announcement_title hireAnnouncementTitle,
		cp.cpmember_company cpmemberCompany,
		cp.cpmember_id cpmemberId,
		hire.hire_announcement_start_date hireAnnouncementStartDate ,
		hire.hire_announcement_end_date hireAnnouncementEndDate
	FROM linkjobs_likecp likecp
	INNER JOIN linkjobs_hire_announcement hire  ON likecp.cpmember_id = hire.cpmember_id
	INNER JOIN linkjobs_cpmember cp ON likecp.cpmember_id = cp.cpmember_id
	WHERE likecp.member_id = #{memberId}
	AND likecp.likecp_boolean ='Y'
	GROUP BY cp.cpmember_company
</select>


<!-- 일반회원 관심기업의 공고 리스트 출력 -->
<select id="selectMemberLikecpAnnouncement" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">

SELECT 
		likecp.likecp_boolean likecpBoolean,
		likecp.likecp_no likecpNo,
		likecp.cpmember_id cpmemberId,
		likecp.member_id memberId,
		likecp.likecp_date likecpDate,
		hire.cpmember_id cpmemberId,
		hire.hire_announcement_no hireAnnouncementNo,
		hire.hire_announcement_title hireAnnouncementTitle,
		cp.cpmember_company cpmemberCompany,
		cp.cpmember_id cpmemberId,
		hire.hire_announcement_start_date hireAnnouncementStartDate ,
		hire.hire_announcement_end_date hireAnnouncementEndDate
	FROM linkjobs_likecp likecp
	INNER JOIN linkjobs_hire_announcement hire  ON likecp.cpmember_id = hire.cpmember_id
	INNER JOIN linkjobs_cpmember cp ON likecp.cpmember_id = cp.cpmember_id
	WHERE likecp.member_id = #{memberId}
	AND likecp.likecp_boolean ='Y'
</select>

<!-- 관심기업 출력 -->
<select id="selectLikecp"  resultType="com.gdu.linkJobs.vo.Likecp">
	SELECT 
	likecp_boolean likecpBoolean,
	likecp_no likecpNo,
	likecp_date likecpDate
	FROM linkjobs_likecp
</select>

<!-- 관심기업 추가 -->
<insert id="insertLikecp" parameterType="com.gdu.linkJobs.vo.Likecp">
	INSERT INTO linkjobs_likecp(
		member_id,
		cpmember_id,
		likecp_boolean,
		likecp_date
	) VALUES (
		#{memberId},
		#{cpmemberId},
		#{likecpBoolean},
		NOW()
	)
</insert>


<!-- 관심기업 수정-->
<update id="updateLikecp" parameterType="com.gdu.linkJobs.vo.Likecp">

	UPDATE 
		linkjobs_likecp 
	SET 
		likecp_boolean = #{likecpBoolean},
		likecp_date = NOW()
	WHERE likecp_no = #{likecpNo}
	AND cpmember_id = #{cpmemberId}
</update>
</mapper>