<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.ListMapper">
	
	<!-- 메인페이지 검색 -->
	
	<select id="selectSearchHireAnnouncementList" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">
		
		SELECT
			ha.hire_announcement_no AS hireAnnouncementNo,
	      	ha.hire_announcement_title AS hireAnnouncementTitle,
	      	ha.cpmember_id AS cpmemberId,
	      	ha.hire_announcement_manager hireAnnouncementManager,
	      	ha.hire_announcement_recruitment_field hireAnnouncementRecruitmentField,
	      	ha.hire_announcement_career hireAnnouncementCareer,
	      	ha.hire_announcement_department hireAnnouncementDepartment,
	      	ha.hire_announcement_jobgrade_jobposition hireAnnouncementJobgradeJobposition,
	      	ha.hire_announcement_preferential_conditions hireAnnouncementPreferentialConditions,
	      	ha.hire_announcement_salary hireAnnouncementSalary,
	      	ha.hire_announcement_main_job hireAnnouncementMainJob,
	      	ha.hire_announcement_contents hireAnnouncementContents,
	      	ha.hire_announcement_working_form_name hireAnnouncementWorkingFormName,
	      	ha.hire_announcement_education hireAnnouncementEducation,
	      	ha.hire_announcement_start_date AS hireAnnouncementStartDate,
	      	ha.hire_announcement_end_date AS hireAnnouncementEndDate,
	      	(SELECT 
	      		cp.cpmember_company 
	      	FROM linkjobs_cpmember AS cp 
	      	WHERE cp.cpmember_id = ha.cpmember_id
	      	) cpmemberCompany,
	      	(SELECT la2.area2_gungu  
	      	FROM linkjobs_area2 AS la2 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id 
	      	) area2Gungu,
	      	(SELECT la.area_sido 
	      	FROM linkjobs_area AS la 
	      	INNER JOIN linkjobs_area2 AS la2
	      	ON la.area_no = la2.area_no 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la.area_no = la2.area_no 
	      	AND la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id
	      	) areaSido,
	      	(SELECT cpmember_pic
			 FROM linkjobs_cpmember_pic lcp 
			 WHERE lcp.cpmember_id = ha.cpmember_id
			) AS cpmemberPic,
			(SELECT scrap_boolean
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no
			 AND ls.member_id = #{memberId} 
			) AS scrapBoolean,
			(SELECT scrap_no
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no 
			 AND ls.member_id = #{memberId} 
			) AS scrapNo,
			(SELECT likecp_no
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND ll.member_id = #{memberId} 
			) AS likecpNo,
			(SELECT likecp_boolean
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND ll.member_id = #{memberId} 
			) AS likecpBoolean
		FROM 
			linkjobs_hire_announcement AS ha 
		NATURAL JOIN 
			linkjobs_cpmember AS cp
		NATURAL JOIN 
			linkjobs_area2 AS la2
		NATURAL JOIN 
			linkjobs_area AS la
		WHERE ha.hire_announcement_title like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_manager like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_recruitment_field like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_career like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_department like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_jobgrade_jobposition like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_preferential_conditions like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_salary like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_main_job REGEXP #{jobSearch}
		OR ha.hire_announcement_contents like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_working_form_name like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_education like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_start_date like CONCAT('%', #{wordSearch}, '%')
		OR ha.hire_announcement_end_date like CONCAT('%', #{wordSearch}, '%')
		OR cp.cpmember_company like CONCAT('%', #{wordSearch}, '%')
		OR la2.area2_gungu like #{areaSearch}
		OR la.area_sido like #{areaSearch}
		ORDER BY hire_announcement_start_date DESC
	</select>
	 
	<!-- 메인페이지 채용공고 리스트 출력 -->
	<select id="selectHireAnnouncementList" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">
		SELECT
			ha.hire_announcement_no AS hireAnnouncementNo,
	      	ha.hire_announcement_title AS hireAnnouncementTitle,
	      	ha.cpmember_id AS cpmemberId,
	      	ha.hire_announcement_manager hireAnnouncementManager,
	      	ha.hire_announcement_recruitment_field hireAnnouncementRecruitmentField,
	      	ha.hire_announcement_career hireAnnouncementCareer,
	      	ha.hire_announcement_department hireAnnouncementDepartment,
	      	ha.hire_announcement_jobgrade_jobposition hireAnnouncementJobgradeJobposition,
	      	ha.hire_announcement_preferential_conditions hireAnnouncementPreferentialConditions,
	      	ha.hire_announcement_salary hireAnnouncementSalary,
	      	ha.hire_announcement_main_job hireAnnouncementMainJob,
	      	ha.hire_announcement_contents hireAnnouncementContents,
	      	ha.hire_announcement_working_form_name hireAnnouncementWorkingFormName,
	      	ha.hire_announcement_education hireAnnouncementEducation,
	      	ha.hire_announcement_start_date AS hireAnnouncementStartDate,
	      	ha.hire_announcement_end_date AS hireAnnouncementEndDate,
	      	(SELECT 
	      		cp.cpmember_company 
	      	FROM linkjobs_cpmember AS cp 
	      	WHERE cp.cpmember_id = ha.cpmember_id
	      	) cpmemberCompany,
	      	(SELECT la2.area2_gungu  
	      	FROM linkjobs_area2 AS la2 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id 
	      	) area2Gungu,
	      	(SELECT la.area_sido 
	      	FROM linkjobs_area AS la 
	      	INNER JOIN linkjobs_area2 AS la2
	      	ON la.area_no = la2.area_no 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la.area_no = la2.area_no 
	      	AND la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id
	      	) areaSido,
	      	(SELECT cpmember_pic
			 FROM linkjobs_cpmember_pic lcp 
			 WHERE lcp.cpmember_id = ha.cpmember_id
			) AS cpmemberPic,
			(SELECT scrap_boolean
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no
			 AND ls.member_id = #{memberId}
			) AS scrapBoolean,
			(SELECT scrap_no
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no
			 AND ls.member_id = #{memberId} 
			) AS scrapNo,
			(SELECT likecp_no
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND ll.member_id = #{memberId}
			) AS likecpNo,
			(SELECT likecp_boolean
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND ll.member_id = #{memberId}
			) AS likecpBoolean
		FROM
			linkjobs_hire_announcement AS ha
		ORDER BY 
			hire_announcement_start_date DESC

		
	</select>
	
	
	
	
	
	<!-- 채용공고 리스트 출력 -->
	<select id="selectHireAreaAnnouncementList" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">
		SELECT
	   		ha.hire_announcement_no AS hireAnnouncementNo,
	      	ha.hire_announcement_title AS hireAnnouncementTitle,
	      	ha.cpmember_id AS cpmemberId,
	      	ha.hire_announcement_working_form_name hireAnnouncementWorkingFormName,
	      	ha.hire_announcement_education hireAnnouncementEducation,
	      	ha.hire_announcement_start_date AS hireAnnouncementStartDate,
	      	ha.hire_announcement_end_date AS hireAnnouncementEndDate,
			(SELECT 
	      		cp.cpmember_company 
	      	FROM linkjobs_cpmember AS cp 
	      	WHERE cp.cpmember_id = ha.cpmember_id
	      	) cpmemberCompany,
	      	(SELECT la2.area2_gungu  
	      	FROM linkjobs_area2 AS la2 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id 
	      	) area2Gungu,
	      	(SELECT la.area_sido 
	      	FROM linkjobs_area AS la 
	      	INNER JOIN linkjobs_area2 AS la2
	      	ON la.area_no = la2.area_no 
	      	INNER JOIN linkjobs_cpmember AS cp 
	      	ON la2.area2_no = cp.area2_no 
	      	WHERE la.area_no = la2.area_no 
	      	AND la2.area2_no = cp.area2_no 
	      	AND ha.cpmember_id = cp.cpmember_id
	      	) areaSido,
			(SELECT scrap_boolean
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no 
			 AND member_id = #{memberId}
			) AS scrapBoolean,
			(SELECT scrap_no
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no 
			 AND member_id = #{memberId}
			) AS scrapNo,
			(SELECT likecp_no
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND member_id = #{memberId}
			) AS likecpNo,
			(SELECT likecp_boolean
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			 AND member_id = #{memberId}
			) AS likecpBoolean
			
		FROM linkjobs_hire_announcement AS ha 
		
	 
	</select>
	
</mapper>