<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.ListMapper">
	
	<!-- 메인페이지 채용공고 리스트 출력 -->
	<select id="selectHireAnnouncementList" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">
		SELECT
	   		ha.hire_announcement_no AS hireAnnouncementNo,
	      	ha.hire_announcement_title AS hireAnnouncementTitle,
	      	ha.cpmember_id AS cpmemberId,
	      	ha.hire_announcement_start_date AS hireAnnouncementStartDate,
	      	ha.hire_announcement_end_date AS hireAnnouncementEndDate,
			cp.cpmember_company AS cpMemberCompany
		FROM linkjobs_hire_announcement AS ha 
		INNER JOIN linkjobs_cpmember AS cp ON ha.cpmember_id = cp.cpmember_id
		ORDER BY hire_announcement_start_date DESC
		
	</select>
	
	
	
	
	
	<!-- 채용공고 리스트 출력 -->
	<select id="selectHireAreaAnnouncementList" parameterType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp" resultType="com.gdu.linkJobs.vo.HireAnnouncementAndCpMemberAndScrapAndLikecp">
		SELECT
	   		ha.hire_announcement_no AS hireAnnouncementNo,
	      	ha.hire_announcement_title AS hireAnnouncementTitle,
	      	ha.cpmember_id AS cpmemberId,
	      	ha.hire_announcement_working_form_name hireAnnouncementWorkingFormName,
	      	ha.hire_announcement_education hireAnnouncementEducation,
	      	ha.hire_announcement_start_date AS hireAnnouncementStartDate,
	      	ha.hire_announcement_end_date AS hireAnnouncementEndDate,
			cp.cpmember_company AS cpmemberCompany,
			la2.area2_gungu AS area2Gungu,
			la.area_sido AS areaSido,
			(SELECT scrap_boolean
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no 
			) AS scrapBoolean,
			(SELECT scrap_no
			 FROM linkjobs_scrap ls
			 WHERE ls.hire_announcement_no = ha.hire_announcement_no 
			) AS scrapNo,
			(SELECT likecp_no
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			) AS likecpNo,
			(SELECT likecp_boolean
			 FROM linkjobs_likecp ll
			 WHERE ll.cpmember_id = ha.cpmember_id
			) AS likecpBoolean
			
		FROM linkjobs_hire_announcement AS ha 
		INNER JOIN linkjobs_cpmember AS cp
		INNER JOIN linkjobs_area2 AS la2
		INNER JOIN linkjobs_area AS la
	   	ON ha.cpmember_id = cp.cpmember_id
	   	AND cp.area2_no = la2.area2_no
	   	AND la2.area_no = la.area_no
	 
	</select>
	
</mapper>