<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.MemberCareerMapper">
   <select id="selectMemberCareerOne" parameterType="String" resultType="com.gdu.linkJobs.vo.MemberCareerAndJobAndArea">
      SELECT
         lmc.career_company_name AS careerCompanyName,
         lmc.career_start_date AS careerStartDate,
         lmc.career_end_date AS careerEndDate,
         lmc.career_leaving AS careerLeaving,
         lmc.career_reason_for_leaving AS careerReasonForLeaving,
         lmc.career_jobgrade_jobposition AS careerJobgradeJobposition,
         lmc.career_jobgrade_jobposition_year AS careerJobgradeJobpositionYear,
         lmc.job2_no AS job2No,
         lmc.career_department AS careerDepartment,
         lj2.job2_category AS job2Category,
         lj.job_category AS jobCategory,
         lmc.area_no areaNo,
         lmc.career_department AS careerDepartment,
         lmc.career_salary AS careerSalary,
         lmc.career_responsibilities AS careerResponsibilities,
         lmc.carrer_project_contents AS carrerProjectContents
      FROM linkjobs_member_career AS lmc
      INNER JOIN linkjobs_job2 AS lj2 ON lmc.job2_no = lj2.job2_no
      INNER JOIN linkjobs_job AS lj ON lj.job_no=lj2.job_no
      WHERE member_id = #{memberId}
   </select>
   <insert id="insertMemberCareer" parameterType="com.gdu.linkJobs.vo.MemberCareer">
      INSERT INTO linkjobs_member_career(
         member_id,
         career_company_name,
         career_start_date,
         career_end_date,
         career_leaving,
         career_reason_for_leaving,
         career_jobgrade_jobposition,
         career_jobgrade_jobposition_year,
         job2_no,
         area_no,
         career_department,
         career_salary,
         career_responsibilities,
         carrer_project_contents
      ) VALUES(
         #{memberId},
         #{careerCompanyName},
         #{careerStartDate},
         #{careerEndDate},
         #{careerLeaving},
         #{careerReasonForLeaving},
         #{careerJobgradeJobposition},
         #{careerJobgradeJobpositionYear},
         #{job2No},
         #{areaNo},
         #{careerDepartment},
         #{careerSalary},
         #{careerResponsibilities},
         #{carrerProjectContents}
      )
   </insert>
</mapper>