<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.MemberMapper">
	<!-- 비밀번호 찾기 -->
	<update id="findMemberPw" parameterType="com.gdu.linkJobs.vo.Member">
		UPDATE linkjobs_member
		SET member_pw = PASSWORD(#{memberPw})
		WHERE member_id = #{memberId}
		AND member_email = #{memberEmail}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="findMemberId" parameterType="com.gdu.linkJobs.vo.Member" resultType="com.gdu.linkJobs.vo.Member">
		SELECT 
			member_id memberId, member_email memberEmail
		FROM linkjobs_member
		WHERE member_name = #{memberName}
		AND member_email = #{memberEmail}
	</select>
	 
	<!-- 회원 탈퇴->회원 삭제 -->
	<delete id="deleteMember" parameterType="com.gdu.linkJobs.vo.Member">
		DELETE FROM linkjobs_member
		WHERE member_id=#{memberId}
		AND member_pw=PASSWORD(#{memberPw})
	</delete>


	<!-- 회원 비밀번호 수정 -->
	<update id="updateMemberPw" parameterType="com.gdu.linkJobs.vo.Member">
		UPDATE linkjobs_member
		SET member_pw=PASSWORD(#{newMemberPw})
		WHERE member_id=#{memberId}
		AND member_pw=PASSWORD(#{memberPw});
	</update>


   <!-- 회원정보 수정 -->
   <update id="updateMember" parameterType="com.gdu.linkJobs.vo.Member">
	UPDATE linkjobs_member
	SET
		member_id = #{memberId},
		member_name = #{memberName},
		area_sido = #{areaSido},
		area2_gungu= #{area2Gungu},
		member_detailed_address = #{memberDetailedAddress},
		member_phone = #{memberPhone},
		member_email = #{memberEmail},
		member_birthdate = #{memberBirthdate},
		member_gender= #{memberGender}
	WHERE member_id = #{memberId} 
		AND member_pw = PASSWORD(#{memberPw})
   </update>
   
   <!-- 회원가입 -->
   <insert id="insertMember" parameterType="com.gdu.linkJobs.vo.Member">
      INSERT INTO linkjobs_member(
         member_id, 
         member_pw, 
         member_name, 
         area_sido,
         area2_gungu, 
         member_detailed_address, 
         member_phone, 
         member_email,
         member_birthdate,
         member_gender, 
         member_social_login
      ) 
      VALUES(
         #{memberId},
         PASSWORD(#{memberPw}),
         #{memberName},
         #{areaSido},
         #{area2Gungu},
         #{memberDetailedAddress},
         #{memberPhone},
         #{memberEmail},
         #{memberBirthdate},
         #{memberGender},
         'N'
      )
   </insert>
   
	<!-- 이력서 회원정보 출력 -->
	<select id="selectMemberOne" parameterType="String" resultType="com.gdu.linkJobs.vo.Member">
		SELECT 
			member_id memberId,
			member_pw memberPw,
			member_name memberName,
			area_sido areaSido,
			area2_gungu area2Gungu,
			member_birthdate memberBirthdate,
			member_gender memberGender,
			member_email memberEmail,
			member_phone memberPhone,
			member_detailed_address memberDetailedAddress
		FROM linkjobs_member
		WHERE member_id = #{memberId}
	</select>
	
   <!-- 중복 체크 쿼리 -->
   <select id="memberIdCheck" parameterType="String" resultType="String">
      SELECT member_id
      FROM (SELECT member_id FROM linkjobs_member 
            UNION 
           SELECT member_id FROM linkjobs_member_withdrawal) t
      WHERE member_id=#{memberId}
   </select>
   
   <!-- login -->
   <select id="loginMember" parameterType="com.gdu.linkJobs.vo.LoginMember" resultType="String">
      SELECT
         member_id memberId
      FROM linkjobs_member
      WHERE member_id = #{memberId} 
         AND member_pw = PASSWORD(#{memberPw})
   </select>
</mapper>