<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.ScrapMapper">




<select id="selectBoolean" parameterType="int" resultType="String">
	SELECT scrap_boolean AS scrapBoolean
	FROM linkjobs_scrap 
	WHERE hire_announcement_no = #{hireAnnouncementNo}
</select>

<!-- 스크랩 추가 -->
<insert id="insertScrap" parameterType="com.gdu.linkJobs.vo.Scrap">
	INSERT INTO linkjobs_scrap(
		member_id,
		scrap_boolean,
		hire_announcement_no,
		scrap_date
	) VALUES (
		#{memberId},
		#{scrapBoolean},
		#{hireAnnouncementNo},
		NOW()
	)
</insert>


<!-- 스크랩 추가,취소-->
<update id="updateScrap" parameterType="com.gdu.linkJobs.vo.Scrap">

	UPDATE linkjobs_scrap SET 
		scrap_boolean = #{scrapBoolean},
		scrap_date = NOW()
	WHERE scrap_no = #{scrapNo}
</update>
</mapper>