<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.ScrapMapper">



<!-- 스크랩 출력 -->
<select id="selectScrap"  resultType="com.gdu.linkJobs.vo.Scrap">
	SELECT 
	scrap_boolean AS scrapBoolean,
	scrap_no AS scrapNo,
	member_id memberId,
	hire_announcement_no hireAnnouncementNo,
	scrap_date scrapDate
	FROM linkjobs_scrap 
</select>

<!-- 스크랩 추가 -->
<insert id="insertScrap" parameterType="com.gdu.linkJobs.vo.Scrap">
	INSERT INTO linkjobs_scrap(
		member_id,
		scrap_boolean,
		hire_announcement_no,
		scrap_date
	) VALUES (
		#{memberId},
		#{scrapBoolean},
		#{hireAnnouncementNo},
		NOW()
	)
</insert>


<!-- 스크랩 추가,취소-->
<update id="updateScrap" parameterType="com.gdu.linkJobs.vo.Scrap">

	UPDATE linkjobs_scrap SET 
		scrap_boolean = #{scrapBoolean},
		scrap_date = NOW()
	WHERE scrap_no = #{scrapNo}
	AND hire_announcement_no = #{hireAnnouncementNo}
	AND member_id = #{memberId}
</update>

<!-- 멤머별 스크랩 -->
<select id="selectMemberScrap" parameterType="String" resultType="com.gdu.linkJobs.vo.HireAnnouncement">
SELECT
   ha.hire_announcement_no hireAnnouncementNo,
   ha.hire_announcement_title hireAnnouncementTitle,
   ha.cpmember_id cpmemberId,
   ha.hire_announcement_manager hireAnnouncementManager,
   ha.hire_announcement_recruitment_field hireAnnouncementRecruitmentField,
   ha.hire_announcement_career hireAnnouncementCareer,
   ha.hire_announcement_department hireAnnouncementDepartment,
   ha.hire_announcement_jobgrade_jobposition hireAnnouncementJobgradeJobposition,
   ha.hire_announcement_preferential_conditions hireAnnouncementPreferentialConditions,
   ha.hire_announcement_salary hireAnnouncementSalary,
   ha.hire_announcement_main_job hireAnnouncementMainJob,
   ha.hire_announcement_contents hireAnnouncementContents,
   ha.hire_announcement_working_form_name hireAnnouncementWorkingFormName,
   ha.hire_announcement_education hireAnnouncementEducation,
   ha.hire_announcement_start_date hireAnnouncementStartDate,
   ha.hire_announcement_end_date hireAnnouncementEndDate
FROM linkjobs_hire_announcement ha 
INNER JOIN linkjobs_scrap s 
ON s.hire_announcement_no=ha.hire_announcement_no
WHERE s.member_id=#{memberId}
AND s.scrap_boolean='Y'
      
</select>

</mapper>