<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.linkJobs.mapper.ScrapMapper">



<!-- 스크랩 출력 -->
<select id="selectScrap"  resultType="com.gdu.linkJobs.vo.Scrap">
	SELECT 
	scrap_boolean AS scrapBoolean,
	scrap_no AS scrapNo,
	member_id memberId,
	hire_announcement_no hireAnnouncementNo,
	scrap_date scrapDate
	FROM linkjobs_scrap 
</select>

<!-- 스크랩 추가 -->
<insert id="insertScrap" parameterType="com.gdu.linkJobs.vo.Scrap">
	INSERT INTO linkjobs_scrap(
		member_id,
		scrap_boolean,
		hire_announcement_no,
		scrap_date
	) VALUES (
		#{memberId},
		#{scrapBoolean},
		#{hireAnnouncementNo},
		NOW()
	)
</insert>


<!-- 스크랩 추가,취소-->
<update id="updateScrap" parameterType="com.gdu.linkJobs.vo.Scrap">

	UPDATE linkjobs_scrap SET 
		scrap_boolean = #{scrapBoolean},
		scrap_date = NOW()
	WHERE scrap_no = #{scrapNo}
	AND hire_announcement_no = #{hireAnnouncementNo}
</update>
</mapper>